.container{
    width: 100vw;
}

.logo{
    width: 9.66369rem;
    left: 1.5rem;
    top: 2rem;
    cursor: pointer;
}

.input-icon{
    width: 1.25rem;
    margin-left: -2.375rem;
}

.right-icon{
    width: 4rem;
}

.div-right{
    background-color: var(--primary);
    color: var(--text-white);
    height: 35.125rem;
    border-radius: 0.9375rem;
}

h1{
    color: var(--primary);
}

input{
    width: 27.9375rem;
    height: 2.8125rem;
    border: 1.5px solid var(--primary);
    border-radius: 0.75rem;
    background: none;
}

::placeholder{
    color: var(--text);
}

.btn-continue{
    background-color: var(--primary);
    color: var(--text-white);
    border-radius: 0.75rem;
    width: 15rem;
}

.back-option{
    left: 0.75rem;
    bottom: 2rem;
    cursor: pointer;
    color: var(--text);
    width: 7rem;
}

.msgError{
    color: rgb(255, 85, 85);  
    border-color: rgb(255, 85, 85);
}

@media (min-width: 1920px)  {
    .div-right{
        width: 27rem;
    }
}

@media (min-width: 1200px) and (max-width: 1919px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {
    .div-left{
        input{
            width: 20rem;
        }
    
        h1{
            font-size: x-large;
        }
    }
    
    .div-right{
        h2{
            font-size: larger;
        }
        p{
            font-size: small;
        }
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;

        .div-left{
            margin-top: 95%;
            width: 85vw;

            h1{
                font-size: x-large;
            }

            input{
                width: 75vw; 
            }
        }

        .div-right{
            width: 75vw;
            height: 50vh;
            margin-bottom: 5rem;
        }
        
        .back-option{
            top: 1.75rem;
            right: 1.75rem;
            left: unset;
            bottom: unset;
        }
    }
}

@media (max-width: 480px) {
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;

        .div-left{
            margin-top: 115vw;
            width: 95vw;

            h1{
                font-size: x-large;
            }

            input{
                width: 75vw; 
            }
        }

        .div-right{
            width: 90vw;
            height: 50vh;
            margin-bottom: 5rem;
        }
        
        .back-option{
            top: 1.75rem;
            right: 1.75rem;
            left: unset;
            bottom: unset;
        }
    }
}