@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;700&display=swap");

:root {
    --primary: #faa61a;
    --secondary: rgba(250, 166, 26, 0.5);
    --tertiary: #f2f4f7;

    --body: rgba(255, 255, 255, 1);

    --background: var(--tertiary);
    --border: var(--primary);

    --text: #5b5e77b2;
}

:root .dark-theme {
    //Definir as cores do modo Dark
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif, "Courier New", Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--body);
}
