div{
    color: var(--primary);

    input, select{
        border: 1.5px solid var(--primary);
        color: var(--text);
        border-radius: 0.75rem;
    }

    ::placeholder{
        color: var(--text);
    }
}

.btn-search{
    background-color: var(--primary);
    color: var(--text-white);
    font-weight: 700;
    border-radius: 0.75rem;
}

.container{
    width: 30rem;
}

.error-text{
    color: rgb(255, 85, 85);
}

@media (max-width: 767px) {
    .form-control, .btn-search{
        height: 1.75rem;
        border-radius: 0.50rem !important;
        font-size: small;
        padding: 0.3rem;
    }
}

@media (min-width: 510px) and (max-width: 767px) {
    .form-row{
        justify-content: space-between;
        input{
            width: 215px;
        }
    }
}

@media (max-width: 510px) {
    .container{
        width: 20rem;
    }
}