<main class="d-flex w-100 main">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="w-100 container fadeIn overflow-hidden">
        <button type="button" class="fadeIn border-0 mt-5 tobble w-100 d-flex justify-content-end px-4 bg-transparent">
            <img src="assets/icons/tobble.svg" alt="Icone seta" title="Mudar modo">
        </button>

        <h1 class="fw-bold fs-5 mt-1 w-100 p-4 overflow-hidden">
            Fique por dentro de tudo o que estamos fazendo
        </h1>

        <div>
            <section class="container text-center mt-0">
                <h2 class="fw-bold fs-5 py-4">
                    Notícias
                </h2>

                <div class="row mt-5 text-start fadeInLeft">
                    <button type="button" class="border-0 bg-transparent arrow col-1" (click)="prevNovelty()">
                        <img src="assets/icons/arrow-left.svg" alt="Icone seta esquerda">
                    </button>

                    <card-newsletter [card]="novelties[currentNoveltyIndex]" class="col-5"></card-newsletter>
                    <card-newsletter [card]="novelties[(currentNoveltyIndex + 1) % novelties.length]"
                        class="col-5"></card-newsletter>

                    <button type="button" class="border-0 bg-transparent arrow col-1" (click)="nextNovelty()">
                        <img src="assets/icons/arrow-right.svg" alt="Icone seta direita">
                    </button>
                </div>
            </section>
        </div>

        <div>
            <section class="container text-center mt-5 py-4">
                <h2 class="fw-bold fs-5">
                    Cursos
                </h2>

                <div class="row my-5 text-start fadeInLeft">
                    <button type="button" class="border-0 bg-transparent arrow col-1" (click)="prevCourse()">
                        <img src="assets/icons/arrow-left.svg" alt="Icone seta esquerda">
                    </button>

                    <card-newsletter [card]="courses[currentCourseIndex]" class="col-5"></card-newsletter>
                    <card-newsletter [card]="courses[(currentCourseIndex + 1) % courses.length]"
                        class="col-5"></card-newsletter>

                    <button type="button" class="border-0 bg-transparent arrow col-1" (click)="nextCourse()">
                        <img src="assets/icons/arrow-right.svg" alt="Icone seta direita">
                    </button>
                </div>
            </section>
        </div>
    </div>
</main>

<app-footer class="footer"></app-footer>