<main class="d-flex w-100 main">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="w-100 container fadeIn overflow-hidden">
        <button type="button" class="fadeIn border-0 mt-5 tobble w-100 d-flex justify-content-end px-4 bg-transparent">
            <img src="assets/icons/tobble.svg" alt="Icone seta" title="Mudar modo">
        </button>

        <h1 class="fw-bold fs-5 mt-1 w-100 p-4 overflow-hidden">
            Fique por dentro de tudo o que estamos fazendo
        </h1>

        <div>
            <section class="container text-center mt-0">
                <h2 class="fw-bold fs-5 py-4">
                    Notícias
                </h2>

                <div class="row mt-5 text-start fadeIn">
                    <button type="button" class="mt-3 border-0 bg-transparent arrow col-1 p-0" (click)="prevNovelty()">
                        <img src="assets/icons/arrow-left.svg" alt="Icone seta esquerda">
                    </button>

                    <div class="col-10 row p-0">
                        <card-newsletter [card]="novelties[currentNoveltyIndex]" class="mt-3 col-12 col-xl-6"
                            [ngClass]="{'fadeIn': isAnimatingPrevNovelty}"></card-newsletter>

                        <card-newsletter [card]="novelties[(currentNoveltyIndex + 1) % novelties.length]"
                            class="mt-3 col-12 col-xl-6"
                            [ngClass]="{'fadeIn': isAnimatingNextNovelty}"></card-newsletter>
                    </div>

                    <button type="button" class="mt-3 border-0 bg-transparent arrow col-1 p-0" (click)="nextNovelty()">
                        <img src="assets/icons/arrow-right.svg" alt="Icone seta direita">
                    </button>
                </div>
            </section>
        </div>

        <div>
            <section class="container text-center mt-5 py-4">
                <h2 class="fw-bold fs-5">
                    Cursos
                </h2>

                <div class="row my-5 text-start fade-In">
                    <button type="button" class="mt-3 border-0 bg-transparent arrow col-1 p-0" (click)="prevCourse()">
                        <img src="assets/icons/arrow-left.svg" alt="Icone seta esquerda">
                    </button>

                    <div class="col-10 row p-0">
                        <card-newsletter [card]="courses[currentCourseIndex]" class="mt-3 col-12 col-xl-6"
                            [ngClass]="{'fadeIn': isAnimatingPrevCourse}"></card-newsletter>

                        <card-newsletter [card]="courses[(currentCourseIndex + 1) % courses.length]"
                            class="mt-3 col-12 col-xl-6"
                            [ngClass]="{'fadeIn': isAnimatingNextCourse}"></card-newsletter>
                    </div>

                    <button type="button" class="mt-3 border-0 bg-transparent arrow col-1 p-0" (click)="nextCourse()">
                        <img src="assets/icons/arrow-right.svg" alt="Icone seta direita">
                    </button>
                </div>
            </section>
        </div>
    </div>
</main>

<app-footer class="footer"></app-footer>