:host {
    color: var(--text);

    .main {
        min-height: 100vh;
        h2,
        h1,
        h3,
        span,
        .text-color-primary {
            color: var(--primary);
        }
    }

    section {
        .amount {
            max-width: 12rem;
        }
        .arrow {
            min-width: 1.5625rem;
        }
        .arrow:hover {
            transform: scale(1.2);
            transition: all 0.5s;
        }
    }

    button {
        background: var(--secondary);

        color: var(--text-white);
        &:hover {
            background: var(--primary);
        }
    }

    .slide-in-x {
        transform: translateX(0);
        opacity: 1;
        transition:
            transform 0.5s ease,
            opacity 0.5s ease;
    }

    .slide-out-x {
        transform: translateX(100%);
        opacity: 0;
        transition:
            transform 0.5s ease,
            opacity 0.5s ease;
    }
}
