.modal-container{
    background-color: white;
    padding: 1.25rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    border-radius: 0.75rem;
    width: 50%;
    max-height: 90vh;
    overflow: scroll;

    label{
        color: var(--primary);
    }
    input, select, textarea{
        border-radius: 0.75rem;
        color: var(--text);
        &::placeholder{
            color: var(--text);
        }
    }

    @media (max-width: 991px){
        width: 90%;
    }
}
button{
    border-radius: 0.75rem;
}
.cancel{
    border: 1.5px solid var(--primary);
    color: var(--primary);
}
.save{
    background-color: var(--primary);
    color: var(--text-white);
}
.skills{
    background-color: var(--background);
    font-size: small;
    border: none;
    border-radius: 0.75rem;
}
.skillsList{
    cursor: pointer;
    font-size: small;
}
.x-icon{
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(52%) sepia(52%) saturate(95%) hue-rotate(192deg) brightness(95%) contrast(93%);
}
.errMsg{
    color: rgb(255, 85, 85);
}