:host {
    color: var(--text);

    .main {
        min-height: 100vh;
        .div-main {
            min-height: 100vh;

            .div-content {
                min-height: 83vh;
            }
        }
        h2,
        h1,
        h3,
        span,
        .text-color-primary {
            color: var(--primary);
        }

        .logo {
            width: 13rem;
        }

        .card {
            background-color: var(--background);
            p {
                padding: 0 7.5rem;
                color: var(--text);

                & > span,
                .coin {
                    color: #00b5a0;
                }

                & > span.email {
                    color: var(--text);
                    text-decoration: underline;
                }
            }
        }

        .button-ok {
            width: 12rem;
            color: var(--text-white);
            background-color: var(--secondary);

            &:hover {
                background-color: var(--primary);
            }
        }

        .button-disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }
}
