:host {
    color: var(--text);

    button {
        background: none;
    }

    .test{
        background: blue;
        width: 430px;
    }

 

    main {
        h2,
        h1,
        h3 {
            color: var(--primary);
        }
        div .tobble{
            padding-right: 6rem;
        }

        .background-students {
            height: 20rem;
            background-image: url("../../../assets/imgs/background-students.svg");
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 90%;
            h1 {
                max-width: 320px;
                color: var(--primary);
            }
        }

        section {
            margin: 1.75rem;
        }

        .section-professional,
        .section-vacancy {
            max-width: 24rem;

            button {
                background: var(--secondary);

                color: var(--text-white);
                &:hover {
                    background: var(--primary);
                }
            }
        }

        .testimonials {
            button {
                background: none;
            }
        }

        .aboult {
            color: var(--primary);
        }
    }

    @media (max-width: 1400px) {
        .section-professional, 
        .section-vacancy {
            display: none;
        }
    }

    @media (min-width: 1400px) {
    }
}
