:host {
    color: var(--text);

    .main {
        min-height: 100vh;

        h2,
        h1,
        h3 {
            color: var(--primary);
        }

        .background-students {
            height: 20rem;
            background-image: url("../../../assets/imgs/background-students.svg");
            background-repeat: no-repeat;
            background-size: cover;
            h1 {
                max-width: 20rem;
                color: var(--primary);
            }
        }

        section {
            .arrow {
                min-width: 1.5625rem;
            }
            .arrow:hover {
                transform: scale(1.2);
                transition: all 0.5s;
            }
        }

        .see-more {
            button {
                width: 8rem;

                background: var(--secondary);

                color: var(--text-white);
                &:hover {
                    background: var(--primary);
                }
            }
        }

        @media (max-width: 1470px) {
            .card-professional,
            .card-vacancy {
                padding: 0;
                min-width: 10.1875rem;
                max-width: 15.625rem;
                p {
                    display: none;
                }
            }
        }

        @media (max-width:992px) {
            .section-professional{
                flex-direction: column-reverse;
            }
        }
    }
}
