<main class="d-flex w-100 main">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="w-100 container fadeIn overflow-hidden">
        <button type="button" class="fadeIn border-0 mt-5 tobble w-100 d-flex justify-content-end px-4 bg-transparent">
            <img src="assets/icons/tobble.svg" alt="Icone seta" title="Mudar modo">
        </button>

        <section class="mb-5 w-100 p-4">
            <div
                class="fadeInDown d-flex flex-column justify-content-center align-items-start background-students rounded-4 px-5">
                <img src="assets/icons/logo-site.svg" width="270px" alt="Logo e-factor" title="e-factor">
                <h1 class="fw-bold fs-6 mt-1">O seu profissional ou sua vaga na palma da sua mão de um jeito
                    diferente.
                </h1>
            </div>
        </section>

        <!--  -->

        <section class="mt-5  w-100 p-4">
            <div class="d-flex justify-content-between">
                <div
                    class="card-professional  flex-column align-items-start justify-content-center overflow-hidden">
                    <h3 class="fw-bold fs-6">
                        Um mundo de profissionais ao seu alcance.
                    </h3>
                    <p class="fw-light mt-3">
                        Encontre profissionais capacitados com a categoria de sua preferência.
                    </p>

                    <button type="button"
                        class="mt-3 border-0 fw-medium py-2 px-5 rounded-3 overflow-hidden text-nowrap" routerLink="/search-professionals">
                        Ver tudo
                    </button>
                </div>
                <card-professional [short]="true" [card]="cardProfessional[1]"></card-professional>
                <card-professional [short]="true" [card]="cardProfessional[0]"></card-professional>
            </div>
        </section>

        <section class="mb-5  w-100 p-4">
            <div class="d-flex justify-content-between">

                <card-vacancy [short]="true" [cards]="cardVacancy[1]"></card-vacancy>
                <card-vacancy [short]="true" [cards]="cardVacancy[0]"></card-vacancy>
                
                <div class="card-vacancy flex-column align-items-end justify-content-center overflow-hidden">
                    <h3 class="fw-bold fs-6 text-end">
                        Um mundo de vagas ao seu alcance.
                    </h3>
                    <p class="fw-light mt-2 text-end p">
                        Encontre vagas de forma onde você se enquadra com a categoria de sua
                        preferência..
                    </p>

                    <button type="button"
                        class="mt-2 border-0 fw-medium py-2 px-5 rounded-3 overflow-hidden text-nowrap" routerLink="/search-vacancies">
                        Ver tudo
                    </button>
                </div>
            </div>
        </section>

        <!--  -->

        <section class="mt-5  d-flex w-100 p-4 justify-content-center">
            <div class="div-aboult d-flex justify-content-center flex-column align-items-center overflow-hidden">
                <h2 class="fw-bold fs-5">
                    Como funciona a E-factor
                </h2>

                <div class="d-flex flex-wrap justify-content-between overflow-hidden ">
                    <span *ngFor="let card of about" class="mx-1">
                        <card-details [card]="card" class="mt-4"></card-details>
                    </span>
                </div>
            </div>
        </section>

        <section class="mt-5 mb-5  me-0 w-100 p-4 ">
            <div class="container d-flex justify-content-center flex-column align-items-center">
                <h2 class="fw-bold fs-5">
                    Depoimentos
                </h2>
                <div class="testimonials d-flex mt-4 w-100 justify-content-between overflow-hidden">
                    <button type="button" class="border-0 bg-transparent arrow" (click)="prevCard()">
                        <img src="assets/icons/arrow-left.svg" alt="Icone seta esquerda">
                    </button>

                    <div class="d-flex w-100 justify-content-center">
                        <card-details [card]="testimonials[currentIndex]" class="mx-3"></card-details>
                        <card-details [card]="testimonials[(currentIndex + 1) % testimonials.length]"
                            class="mx-3"></card-details>
                    </div>

                    <button type="button" class="border-0 bg-transparent arrow" (click)="nextCard()">
                        <img src="assets/icons/arrow-right.svg" alt="Icone seta direita">
                    </button>
                </div>
            </div>
        </section>
    </div>
</main>

<app-footer class="footer"></app-footer>