<main class="container">
    <section>

        <!-- <section class="d-flex flex-wrap">
            <card-vacacy [short]='true' [cards]="cardVacacy"></card-vacacy>
            <card-vacacy [short]='true' [cards]="cardVacacy"></card-vacacy>
            <card-vacacy [short]='false' [cards]="cardVacacy"></card-vacacy>
            <card-vacacy [short]='false' [cards]="cardVacacy"></card-vacacy>
        </section> -->

        <section class="">
            <div class="d-flex flex-wrap">
                <card-professional [short]='true' [cards]="cardProfessional"></card-professional>
                <card-professional [short]='true' [cards]="cardProfessional"></card-professional>
                <card-professional [short]='false' [cards]="cardProfessional"></card-professional>
                <card-professional [short]='false' [cards]="cardProfessional"></card-professional>

            </div>
        </section>
    </section>
</main>

<app-footer></app-footer>