.logo{
    width: 9.66369rem;
    left: 1.5rem;
    top: 2rem;
    cursor: pointer;
}

.content{
    background-color: var(--background);
    color: var(--text);
    border-radius: 0.9375rem;

    .btn-cancel{
        border: 1.5px solid var(--primary);
        color: var(--primary);
        background-color: transparent;
        border-radius: 0.75rem;
        width: 7rem;
    }

    .btn-search{
        border: 1.5px solid var(--primary);
        color: var(--text-white);
        background-color: var(--primary);
        border-radius: 0.75rem;
        width: 7rem;
    }

    input{
        border: 1.5px solid var(--primary);
        background-color: transparent;
        border-radius: 0.75rem;
        color: var(--text);
    }

    ::placeholder{
        color: var(--text);
    }

    .email{
        color: var(--primary);
        text-decoration: underline;
    }

    .msgError{
        color: rgb(255, 85, 85); 
    }
}

@media (max-width: 767px) {
    main{
        min-height: 31.25rem;
    }
    .content{
        width: 90% !important;
    }
}