<div class="d-flex align-items-end">
    <button type="button" class="fadeIn border-0 mt-5 tobble w-100 d-flex justify-content-end bg-transparent">
        <img src="assets/icons/tobble.svg" alt="Icone seta" title="Mudar modo">
    </button>

    <button type="button" class="d-flex align-items-center border-0 bg-transparent mx-4">
        <img src="assets/icons/coin-factor.svg" width="20px" alt="Ícone da coin factor" title="Coin Factor">
        <span class="fw-medium ms-2 ">
            105
        </span>
    </button>

    <button type="button" class="d-flex align-items-center border-0 bg-transparent">
        <img src="assets/icons/bell.svg" alt="Ícone de notificação">
    </button>
</div>