<main class="d-flex w-100 main">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="w-100 fadeIn overflow-hidden">
        <div class="w-100 container div-main fadeIn">

            <div class="row px-4">
                <div class="d-flex align-items-end">
                    <button type="button"
                        class="fadeIn border-0 mt-5 tobble w-100 d-flex justify-content-end bg-transparent">
                        <img src="assets/icons/tobble.svg" alt="Icone seta" title="Mudar modo">
                    </button>

                    <button type="button" class="d-flex align-items-center border-0 bg-transparent mx-4">
                        <img src="assets/icons/ecoin.svg" alt="Ícone da coin factor" title="Coin Factor">
                        <span class="fw-medium ms-2">
                            {{coin}}
                        </span>
                    </button>

                    <button type="button" class="d-flex align-items-center border-0 bg-transparent">
                        <img src="assets/icons/bell.svg" alt="Ícone de notificação">
                    </button>
                </div>

                <div class="col">
                    <section class="pb-1">

                        <h1 class="fw-bold fs-5 mt-1 w-100 py-4 pb-0">
                            Criação de vaga
                        </h1>

                        <p>
                            Publicando sua vaga na e-factor você estará impactando vidas.
                        </p>
                    </section>

                    <section class="mt-5">
                        <!--  -->
                    </section>
                </div>

                <div class="px-4 col my-5">
                    <section class="my-5 pb-2 rounded-3 card border-0 align-items-center overflow-hidden">
                        <!--  -->
                    </section>
                </div>
            </div>
        </div>

        <app-footer></app-footer>
    </div>
</main>