:host {
    color: var(--text);

    .main {
        min-height: 100vh;
        .div-main {
            min-height: 100vh;
        }
        h2,
        h1,
        h3,
        span,
        .text-color-primary {
            color: var(--primary);
        }

        p>span, .coin{
            color: #00B5A0;
        }

        .coin-quantity{
            color: #FFC93E;
            font-size: 2.5rem;
        }

        p>span.email{
            color: var(--text);
            text-decoration: underline;
        }

        .button-request{
            width: 14rem;
            color: var(--text-white);
            background-color: var(--secondary);

            &:hover{
                background-color: var(--primary);
            }
        }

        .card{
            background-color: var(--background);
        }
    }
}
