<main class="d-flex w-100 main">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="w-100 container fadeIn overflow-hidden">
        <button type="button" class="fadeIn border-0 mt-5 tobble w-100 d-flex justify-content-end px-4 bg-transparent">
            <img src="assets/icons/tobble.svg" alt="Icone seta" title="Mudar modo">
        </button>

        <h1 class="fw-bold fs-5 mt-1 w-100 p-4">
            Profissionais do seu jeito
        </h1>

        <section>
            <span *ngFor="let card of cardProfessional" class="mx-1">
                <card-professional [short]="false" [card]="card"></card-professional>
            </span>
        </section>
    </div>
</main>

<app-footer class="footer"></app-footer>