<main class="d-flex w-100 main">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="w-100 fadeIn overflow-hidden">
        <div class="w-100 container div-main px-4">
            <app-header></app-header>
        </div>

        <div class="table-section container">
            <h2 class="fw-bold mt-4">Extrato Coin Factor</h2>
            <p>Aqui, você pode verificar rapidamente o status das suas solicitações: aprovadas, reprovadas ou em análise.</p>

            <div class="d-flex flex-wrap justify-content-start align-items-center gap-3 filter-buttons my-4">
                <button type="button" title="Em análise" class="rounded-4 btn pending text-start ps-3" (click)="filterSolicitations('Em Análise')"
                [ngClass]="{'active': filterSelected === 'Em Análise'}">
                    <p>Em análise</p>
                    <h1 class="display-3 fw-bold">1</h1>
                </button>
                <button type="button" title="Aprovadas" class="rounded-4 btn approved text-start ps-3" (click)="filterSolicitations('Aprovado')"
                [ngClass]="{'active': filterSelected === 'Aprovado'}">
                    <p>Aprovadas</p>
                    <h1 class="display-3 fw-bold">12</h1>
                </button>
                <button type="button" title="Reprovadas" class="rounded-4 btn rejected text-start ps-3" (click)="filterSolicitations('Reprovado')"
                [ngClass]="{'active': filterSelected === 'Reprovado'}">
                    <p>Reprovadas</p>
                    <h1 class="display-3 fw-bold">3</h1>
                </button>
                <button type="button" title="+ Coin Factor" class="rounded-4 btn btn-principal fw-bold fs-5">
                    + Coin Factor
                </button>
            </div>
            <div class="container py-5 px-3 error-page" *ngIf="!(solicitations.length > 0) && !solicitationError">
                <div class="h-100 d-flex flex-column p-5 align-items-center justify-content-center">
                    <img src="assets/imgs/sem-resultado.svg" alt="Não encontramos nada..."
                        title="Não encontramos nada." class="notFound mb-4 fadeIn">
                    <h2 class="fadeIn">
                        Não encontramos nada...
                    </h2>
        
                    <p class="text-center mt-3 fw-light fadeIn ">
                        Não foi encontrado solicitações para a sua conta. Para conferir seu extrato, faça uma solicitação e acompanhe por aqui a movimentação de solicitações em sua conta.
                    </p>
                </div>
            </div>
            <div class="container py-5 px-3 error-page" *ngIf="solicitationError">
                <div class="h-100 d-flex flex-column p-5 align-items-center justify-content-center">
                    <img src="assets/imgs/erro-resultado.svg" alt="Não encontramos nada..."
                        title="Não encontramos nada." class="notFound mb-4 fadeIn">
                    <h2 class="fadeIn text-danger">
                        Desculpe, estamos com uma instabilidade
                    </h2>
        
                    <p class="text-center mt-3 fw-light fadeIn ">
                        Ocorreu um erro ao carregar a a solicitações de sua conta. Recarregue a página ou tente novamente mais tarde.
                    </p>
                </div>
            </div>
            <p-table
                [value]="solicitations"
                [paginator]="true"
                [rows]="5"
                [showCurrentPageReport]="false"
                [tableStyle]="{ 'min-width': '50rem' }"
                [rowsPerPageOptions]="[5, 10, 20]"
                (sortFunction)="onSort($event)"
                [customSort]="true"
                *ngIf="solicitations.length > 0 && !solicitationError"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:25%" pSortableColumn="date">Data da solicitação<p-sortIcon field="date"></p-sortIcon></th>
                        <th style="width:25%">Status</th>
                        <th style="width:25%">Valor</th>
                        <th style="width:25%">E-mail</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-solicitations>
                    
                    <tr>
                        <td class="px-0">
                            <span class="indicator py-3 me-4" [ngClass]="{'bg-approved': solicitations.status === 'Aprovado', 'bg-rejected': solicitations.status === 'Reprovado', 'bg-pending': solicitations.status === 'Em Análise'}"></span>
                            {{ solicitations.date | date: "dd/MM/yyyy"}}
                        </td>
                        <td>{{ solicitations.status }}</td>
                        <td>{{ solicitations.amount }}</td>
                        <td>{{ solicitations.email }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <app-footer></app-footer>
    </div>
</main>
