body {
    min-height: 45rem;
}

.content{
    border-radius: 0.9375rem;
    width: 97vw;
    height: 87vh;
    min-height: 37rem;
    background-color: var(--tertiary);
    align-self: center;

    .logo{
        width: 9.66369rem;
        left: 1.5rem;
        top: 2rem;
        cursor: pointer;
    }

    h2, label, .info{
        color: var(--primary);
    }

    input{
        border: 1.5px solid var(--primary);
        color: var(--text);
        border-radius: 0.75rem;
    }

    ::placeholder{
        color: var(--text);
    }

    .errMsg{
        color: rgb(255, 85, 85);
    }

    .personal-inputs{
        width: 30rem;
    }
}

::-webkit-calendar-picker-indicator {
    filter: brightness(0) saturate(100%) invert(36%) sepia(20%) saturate(485%) hue-rotate(195deg) brightness(96%) contrast(90%) opacity(50%);
} 

.bottom{
    p{
        color: var(--text);
    }
}

.back-option{
    cursor: pointer;
    color: var(--text);
}

.btn-continue{
    width: 8rem;
    height: 2.5rem;
    background-color: var(--primary);
    border-radius: 0.75rem;
    border: none;
    p, div{
        color: var(--text-white)
    }
}

@media (max-width: 558px) {
    .personal-inputs{
        width: 90% !important;
    }
    label{
        font-size: small;
    }
}