:host {
    color: var(--text);

    .main {
        min-height: 100vh;
        .div-main {
            min-height: 100vh;
        }
        h2,
        h1 {
            color: var(--primary);
        }

        form {
            .div-card {
                background-color: var(--background);
                .div-label {
                    max-width: 28rem;
                }
            }

            label,
            figcaption {
                min-width: 100%;
                color: var(--secondary-70);
            }

            .div-select {
                select {
                    outline: none;
                    height: 2.6rem;
                    appearance: none;
                }
                img {
                    position: absolute;
                    top: 50%;
                    left: 90%;
                }
            }

            input {
                outline: none;

                &[type="text"] {
                    height: 2.5rem;
                }

                &::placeholder {
                    font-weight: 300;
                }
            }
        }

        .button {
            cursor: pointer;
            width: 14rem;
            color: var(--text-white);
            background-color: var(--secondary);

            &:hover {
                background-color: var(--primary);
            }
        }
    }
}
