<main class="d-flex w-100 main">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="w-100 fadeIn overflow-hidden">
        <div class="w-100 container div-main fadeIn">
            <div class="row px-4">
                <app-header></app-header>

                <div class="col">
                    <section class="pb-1">
                        <h1 class="fw-bold fs-5 mt-1 w-100 py-4 pb-0">
                            Criação de vaga
                        </h1>

                        <p>
                            Publicando sua vaga na e-factor você estará impactando vidas.
                        </p>

                        <div class="pb-2 rounded-3  border-0 w-100 col card-title-description">
                            <form class="w-100 h-100 d-flex flex-column align-items-end overflow-hidden">
                                <div class="h-100 rounded-3 p-4 w-100">

                                </div>

                                <button type="submit" class="button border-0 py-2 rounded-3 mt-3 mb-2">
                                    CONTINUAR
                                </button>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</main>