:host {
    color: var(--text);
    
    .main {
        min-height: 100vh;
        h2,
        h1,
        h3,
        span,
        .text-color-primary {
            color: var(--primary);
        }
    }
    
    section {
        .amount {
            max-width: 12rem;
        }
        .arrow {
            min-width: 1.5625rem;
        }
        .arrow:hover {
            transform: scale(1.2);
            transition: all 0.5s;
        }
    }

    button {
        background: var(--secondary);

        color: var(--text-white);
        &:hover {
            background: var(--primary);
        }
    }

    @media (max-width: 992px) {
        .section-professional {
            flex-direction: column-reverse;
        }
    }
}
