<section class="row section-main p-4">
    <div class="col-3 profile me-4">
        <section class="profile mb-5 rounded-4 p-5 d-flex flex-column align-items-center">
            <img src="" alt=" " title="Logo da empresa" width="150px" height="150px"  class="border-0 rounded-circle"
                style="background-color: #f2f4f7;">

            <h2 class="fw-light fs-5 mt-4 text-center">
                Banco Bradesco S.A.
            </h2>

            <h3 class="fw-bold fs-5 mt-4 primary-color text-center">
                Analista de Desenvolvimento
                Junior
            </h3>
        </section>

        <section class="details mb-5 rounded-4 p-5">
            <div>
                <h2 class="fw-light fs-5">
                    Detalhes adicionais
                </h2>

                <h4 class="fw-light fs-6 mt-4 mb-2">
                    Telefone
                </h4>

                <span class="fw-semibold fs-6">
                    (11) 97854-4359
                </span>
            </div>

            <div>
                <h4 class="fw-light fs-6 mt-4 mb-2">
                    E-mail
                </h4>
                <span class="fw-semibold fs-6">
                    efactor@email.com
                </span>
            </div>

            <div>
                <h4 class="fw-light fs-6 mt-4 mb-2">
                    Endereço
                </h4>
                <span class="fw-semibold fs-6">
                    Av. Paulista, 901 - Cerqueira César, São Paulo - SP, 01411-100
                </span>
            </div>
        </section>
        <button type="button" (click)="show()" class="w-100 border-0 rounded-4 py-2 fs-5 fw-semibold button">
            Demonstrar interesse
        </button>
    </div>

    <div class="col about">
        <div class="d-flex align-items-center mb-4">
            <h2 class="fw-semibold fs-4 primary-color text-center">
                Sobre a Vaga
            </h2>
            <span class="text-center status rounded-4 ms-4 px-3">
                últimas Vagas
            </span>
        </div>

        <section>
            <p class="fw-light">
                Lorem ipsum dolor sit amet consectetur. Tellus vitae viverra nascetur nulla vel nunc risus aliquam.
                Sodales sed tellus pretium egestas ac sed purus sed tempor. Mi eleifend metus a amet nunc volutpat
                egestas vulputate. Cras hac sit purus lacus aenean sed. Sed elit sed amet vel tortor tincidunt tellus
                sed. Scelerisque etiam risus nulla sed mattis neque. Nunc gravida gravida feugiat ac pellentesque
                adipiscing velit elementum vestibulum. Quis tristique mi at nulla nec. Vitae auctor feugiat diam varius
                nunc.
                Aliquam massa quis gravida mauris praesent in pellentesque tortor placerat. Lacus at dapibus euismod
                mattis. Posuere dictumst arcu in pellentesque pulvinar. Nisi montes enim nunc feugiat quis arcu nunc
                posuere faucibus. Egestas dui facilisis pharetra nulla nunc.
                Tincidunt elementum egestas lacus rhoncus ac. Sed scelerisque elementum fermentum purus massa senectus
                pellentesque sed. Posuere bibendum faucibus proin turpis tellus eleifend metus semper. Leo sed vulputate
                dui sed purus. Cursus ultricies morbi vel vel nibh. Bibendum ridiculus volutpat viverra diam ac massa
                egestas a. In sagittis eget risus dictum nisi senectus nec venenatis. Morbi lorem justo dignissim non
                sed varius a maecenas euismod. Augue ac quis magna nulla. Tellus ipsum sed lacus praesent id. Dui a
                ornare integer vivamus turpis. Mus purus venenatis vel quam convallis phasellus sagittis. Suscipit
                facilisi morbi lacus lacinia tincidunt.
                Enim cras mattis vitae felis consectetur elit. Consequat a pellentesque fusce tincidunt in molestie
                tristique vitae. Dis elit cras volutpat amet. Sit nunc eget id fermentum in. Morbi integer neque non in.
                Ultricies eget ut semper in gravida. Et iaculis augue mi purus massa dis orci est. Enim neque mi cras
                volutpat imperdiet. Et platea aliquam volutpat orci sed diam turpis. Eu dictum suspendisse a phasellus.
                Cursus ut sed gravida venenatis fusce nec purus integer. Tristique elit viverra arcu sed adipiscing
                suscipit arcu elementum nibh. At feugiat arcu quis vulputate eu dapibus tempor nam sollicitudin. Vitae
                sagittis nibh id eu ultrices arcu nunc lectus.
                Nibh at diam urna tortor volutpat vivamus lacus a. Quis ultrices risus nulla dictum justo id mauris
                semper faucibus. Ut et pharetra amet nibh justo. Cras ut risus sollicitudin in venenatis. Faucibus non
                volutpat nunc massa. Nunc aliquam donec morbi tristique commodo nisi adipiscing at. Faucibus aliquam
                cras lectus risus. Nunc tortor tempus vestibulum in metus semper. Adipiscing vitae lectus sagittis
                cursus.
                Sagittis ut sed cum auctor et egestas mi. Nec pellentesque feugiat nisl odio leo quisque quis urna
                senectus. Nulla eu faucibus at blandit rhoncus ut in. At sed arcu facilisis viverra maecenas. Fames
                volutpat nec sed amet netus volutpat eu amet aliquam. Tempus.
            </p>
        </section>

        <div class="row">
            <section class="container col-6">
                <h2 class="fw-semibold fs-4 primary-color text-start mt-4">
                    Dados da vaga
                </h2>

                <div class="row mt-4  mb-3">
                    <div class="row">
                        <div class="card border-0 p-3 rounded-4 m-2 col-12 col-xl-5">
                            <h4 class="fw-light fs-6">
                                Senioridade
                            </h4>
                            <span class="fw-bold fs-5">
                                Junior
                            </span>
                        </div>

                        <div class="card border-0 p-3 rounded-4 m-2 col-12 col-xl-5">
                            <h4 class="fw-light fs-6">
                                Contrato
                            </h4>
                            <span class="fw-bold fs-5">
                                CLT
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="card border-0 p-3 rounded-4 m-2 col-12 col-xl-5">
                            <h4 class="fw-light fs-6">
                                Modalidade
                            </h4>
                            <span class="fw-bold fs-5">
                                Remoto
                            </span>
                        </div>

                        <div class="card border-0 p-3 rounded-4 m-2 col-12 col-xl-5">
                            <h4 class="fw-light fs-6">
                                Data da Criação
                            </h4>
                            <span class="fw-bold fs-5">
                                há 1 semana
                            </span>
                        </div>
                    </div>

                </div>
            </section>

            <section class="container col">
                <h2 class="fw-semibold fs-4 primary-color text-start mt-4 container">
                    Habilidades
                </h2>
                <div class="mt-4 p-0 d-flex flex-wrap">
                    <span class="card border-0 px-3 py-1 m-2 rounded-4 ">1111111111</span>
                    <span class="card border-0 px-3 py-1 m-2 rounded-4 ">1111111</span>
                    <span class="card border-0 px-3 py-1 m-2 rounded-4 ">11111</span>
                    <span class="card border-0 px-3 py-1 m-2 rounded-4 ">111</span>
                </div>

            </section>
        </div>
    </div>
</section>