<section *ngIf="card" class="row section-main p-4">
    <div class="col-5 col-xl-3 profile me-4">
        <section class="profile mb-5 rounded-4 p-5 d-flex flex-column align-items-center overflow-hidden">

            <img [src]="card.fotoPerfil || 'assets/imgs/default-profile.svg'" alt="foto de perfil"
                title="Logo da empresa" width="150px" height="150px"
                class="cursor-pointer border-0 rounded-circle object-fit-cover" style="background-color: #f2f4f7;"
                [routerLink]="['/business-profile', card.idEmpresa]">

            <h2 class="cursor-pointer fw-light fs-5 mt-4 text-center text-capitalize"
                [routerLink]="['/business-profile', card.idEmpresa]">
                {{card.nomeEmpresa}}
            </h2>

            <h3 class="fw-bold fs-5 mt-4 primary-color text-center text-capitalize d-flex flex-wrap">
                {{card.tituloVaga}}
            </h3>
        </section>

        <section class="details mb-5 rounded-4 py-5 px-4 overflow-hidden">
            <div>
                <h2 class="fw-light fs-5 row">
                    Detalhes adicionais
                </h2>
            </div>


            <!-- <div *ngIf="card.businessInfo.cellphone" > -->
            <div>
                <div>
                    <h4 class="fw-light fs-6 mt-4 mb-2">
                        Telefone
                    </h4>

                    <span class="fw-semibold fs-6">
                        <!-- {{card.businessInfo.cellphone}} --> Telefone da empresa
                    </span>
                </div>
            </div>

            <div>
                <h4 class="fw-light fs-6 mt-4 mb-2">
                    E-mail
                </h4>
                <span class="fw-semibold fs-6">
                    <!-- {{card.businessInfo.email}} --> Email da empresa
                </span>
            </div>

            <div>
                <h4 class="fw-light fs-6 mt-4 mb-2">
                    Endereço
                </h4>
                <span class="fw-semibold fs-6">
                    <!-- {{card.businessInfo.city}} - {{card.businessInfo.state}} --> Localidade da empresa
                </span>
            </div>
        </section>

        <div [ngStyle]="{'display': showInterest?'block':'none'}">
            <button type="button" class="w-100 border-0 rounded-4 py-2 fs-5 fw-semibold button mb-5">
                <!-- (click)="show()" -->
                Demonstrar interesse
            </button>
        </div>

    </div>

    <div class="col about">
        <div class="d-flex align-items-center mb-4">
            <h2 class="fw-semibold fs-4 primary-color text-center">
                Sobre a Vaga
            </h2>
            <!-- <span *ngIf="card.status" class="text-center status rounded-4 ms-4 px-3 text-capitalize">
                {{card.status}}
            </span> -->
        </div>

        <section>

            <p class="fw-light text-capitalize" >
                <!-- [ngStyle]="{'height': card.businessInfo.cellphone?'30.8rem':'26rem'}" -->

                <span>
                    <span class="fw-semibold">
                        Área da vaga:
                    </span>
                    <!-- {{card.vacancyArea}} --> Area da vaga
                </span>
                <br>

                <!-- <span><span class="fw-semibold">Modalidade:</span> {{card.modalidade}}</span>
                <br *ngIf="card.daysOfWeek.length > 0">

                <span *ngIf="card.daysOfWeek.length > 0"><span class="fw-semibold">Dias da semana:</span><span
                        *ngFor="let day of card.daysOfWeek; let i = index"> {{day}}<span
                            *ngIf="i !== card.daysOfWeek.length -1">,</span></span></span>
                <br> -->

                <!-- <span><span class="fw-semibold">Período:</span> {{card.period}}</span>
                <br>

                <span><span class="fw-semibold">Turno:</span> {{card.shift}}</span>
                <br>

                <br> -->

                {{card.descricaoVaga}}
            </p>
        </section>

        <div class="row">
            <section class="container col-6">
                <h2 class="fw-semibold fs-4 primary-color text-start mt-4">
                    Dados da vaga
                </h2>

                <div class="mt-4  mb-3">
                    <div class="row">
                        <div class="col-12 col-xl-6 py-2">
                            <div class="py-3 px-3 card border-0 rounded-4">
                                <h4 class="fw-light fs-6">
                                    Senioridade
                                </h4>
                                <span class="fw-bold fs-6 text-capitalize">
                                    {{card.senioridade}}
                                </span>
                            </div>
                        </div>

                        <div class="col-12 col-xl-6 py-2">
                            <div class="py-3 px-3 card border-0 rounded-4">
                                <h4 class="fw-light fs-6">
                                    Contrato
                                </h4>
                                <span class="fw-bold fs-6 text-capitalize">
                                    {{card.tipoContrato}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-xl-6 py-2">
                            <div class="py-3 px-3 card border-0 rounded-4">
                                <h4 class="fw-light fs-6">
                                    Modalidade
                                </h4>
                                <span class="fw-bold fs-6 text-capitalize">
                                    {{card.modalidade}}
                                </span>
                            </div>
                        </div>

                        <div class="col-12 col-xl-6 py-2">
                            <div class="py-3 px-3 card border-0 rounded-4">
                                <h4 class="fw-light fs-6">
                                    Data da Criação
                                </h4>
                                <span class="fw-bold fs-6 text-capitalize">
                                    {{card.horaInclusao}}
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <section class="container col">
                <h2 class="fw-semibold fs-4 primary-color text-start mt-4 container">
                    Habilidades
                </h2>
                <ul class="mt-4 p-0 d-flex flex-wrap">
                    <li class="card border-0 px-3 m-2 rounded-4 text-capitalize" *ngFor="let item of card.habilidades">
                        {{item}}
                    </li>
                </ul>

            </section>
        </div>
    </div>
</section>