<section class="row">
    <div class="col">
        <section>
            <img src="" alt="">
            <h2>
                Banco Bradesco S.A.
            </h2>

            <h3>
                Analista de Desenvolvimento
                Junior
            </h3>
        </section>

        <section>
            <h2>
                Detalhes adicionais
            </h2>

            <h4>
                Telefone
            </h4>
            <span>
                (11) 97854-4359
            </span>
        </section>

        <section>
            <h4>
                E-mail
            </h4>
            <span>
                efactor@email.com
            </span>
        </section>

        <section>
            <h4>
                Endereço
            </h4>
            <span>
                Av. Paulista, 901 - Cerqueira César, São Paulo - SP, 01411-100
            </span>
        </section>

        <button type="button">Demonstrar interesse</button>
    </div>

    <div class="col">
        <div>
            <div>
                <h2>
                    Sobre a Vaga
                </h2>
                <span>
                    últimas Vagas
                </span>
            </div>
            <button type="button">&times</button>
        </div>

        <section>
            <p>
                Lorem ipsum dolor sit amet consectetur. Tellus vitae viverra nascetur nulla vel nunc risus aliquam.
                Sodales sed tellus pretium egestas ac sed purus sed tempor. Mi eleifend metus a amet nunc volutpat
                egestas vulputate. Cras hac sit purus lacus aenean sed. Sed elit sed amet vel tortor tincidunt tellus
                sed. Scelerisque etiam risus nulla sed mattis neque. Nunc gravida gravida feugiat ac pellentesque
                adipiscing velit elementum vestibulum. Quis tristique mi at nulla nec. Vitae auctor feugiat diam varius
                nunc.
                Aliquam massa quis gravida mauris praesent in pellentesque tortor placerat. Lacus at dapibus euismod
                mattis. Posuere dictumst arcu in pellentesque pulvinar. Nisi montes enim nunc feugiat quis arcu nunc
                posuere faucibus. Egestas dui facilisis pharetra nulla nunc.
                Tincidunt elementum egestas lacus rhoncus ac. Sed scelerisque elementum fermentum purus massa senectus
                pellentesque sed. Posuere bibendum faucibus proin turpis tellus eleifend metus semper. Leo sed vulputate
                dui sed purus. Cursus ultricies morbi vel vel nibh. Bibendum ridiculus volutpat viverra diam ac massa
                egestas a. In sagittis eget risus dictum nisi senectus nec venenatis. Morbi lorem justo dignissim non
                sed varius a maecenas euismod. Augue ac quis magna nulla. Tellus ipsum sed lacus praesent id. Dui a
                ornare integer vivamus turpis. Mus purus venenatis vel quam convallis phasellus sagittis. Suscipit
                facilisi morbi lacus lacinia tincidunt.
                Enim cras mattis vitae felis consectetur elit. Consequat a pellentesque fusce tincidunt in molestie
                tristique vitae. Dis elit cras volutpat amet. Sit nunc eget id fermentum in. Morbi integer neque non in.
                Ultricies eget ut semper in gravida. Et iaculis augue mi purus massa dis orci est. Enim neque mi cras
                volutpat imperdiet. Et platea aliquam volutpat orci sed diam turpis. Eu dictum suspendisse a phasellus.
                Cursus ut sed gravida venenatis fusce nec purus integer. Tristique elit viverra arcu sed adipiscing
                suscipit arcu elementum nibh. At feugiat arcu quis vulputate eu dapibus tempor nam sollicitudin. Vitae
                sagittis nibh id eu ultrices arcu nunc lectus.
                Nibh at diam urna tortor volutpat vivamus lacus a. Quis ultrices risus nulla dictum justo id mauris
                semper faucibus. Ut et pharetra amet nibh justo. Cras ut risus sollicitudin in venenatis. Faucibus non
                volutpat nunc massa. Nunc aliquam donec morbi tristique commodo nisi adipiscing at. Faucibus aliquam
                cras lectus risus. Nunc tortor tempus vestibulum in metus semper. Adipiscing vitae lectus sagittis
                cursus.
                Sagittis ut sed cum auctor et egestas mi. Nec pellentesque feugiat nisl odio leo quisque quis urna
                senectus. Nulla eu faucibus at blandit rhoncus ut in. At sed arcu facilisis viverra maecenas. Fames
                volutpat nec sed amet netus volutpat eu amet aliquam. Tempus.
            </p>
        </section>
        <div>
            <section>
                <h2>
                    Dados da vaga
                </h2>
                <div>
                    <div>
                        <h4>
                            Senioridade
                        </h4>
                        <span>
                            Junior
                        </span>
                    </div>

                    <div>
                        <h4>
                            Contrato
                        </h4>
                        <span>
                            CLT
                        </span>
                    </div>

                    <div>
                        <h4>
                            Modalidade
                        </h4>
                        <span>
                            Remoto
                        </span>
                    </div>

                    <div>
                        <h4>
                            Data da Criação
                        </h4>
                        <span>
                            há 1 semana
                        </span>
                    </div>
                </div>

            </section>

            <section>
                <h2>
                    Habilidades
                    <ul>
                        <li></li>
                    </ul>
                </h2>

            </section>
        </div>
    </div>
</section>