<span *ngIf="card" class="card container rounded-4 border-0"
    [ngStyle]="{'height': card.src != null ? '12rem' : '8.75rem'}">
    
    <div class="d-flex align-items-center mt-3 ps-3">
        <span class="me-3" *ngIf="card.src">
            <figure>
                <img [src]="card.src" alt="Imagem" class="object-fit-scale pt-2">
            </figure>
        </span>
        <h2 class="mx-0 fw-medium">
            {{card.title}}
        </h2>
    </div>

    <p class="mx-3 mb-4 fw-light">
        {{card.description}}
    </p>
</span>