<span *ngIf="card" class="card container rounded-4 border-0 d-flex justify-content-end pb-2"
    [ngStyle]="{'background-image': 'url(' + card.src +')'}">

    <div class="row d-flex align-items-end overflow-hidden pb-2">
        <div class="col-8">
            <h2 class="fw-medium">
                {{card.title}}
            </h2>
            <p class="fw-light m-0">
                {{card.description}}
            </p>
        </div>

        <div class="col-4 d-flex justify-content-center">
            <button type="button" class="rounded-3 border-0" (click)="redirectToLink(card.link)">Ver tudo</button>
        </div>
    </div>
</span>