:host {
    display: flex;
    justify-content: center;

    .card {
        color: var(--text-white);
        min-height: 13rem;


        background-color: rgb(140, 140, 140);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;

        img {
            width: 60px;
            height: 60px;
        }

        button {
            --s: 65%; /* the size of the image */
            --b: 3px; /* the border thickness*/
            --g: 2px; /* the gap */
            --c: orange; /* the color */

            width: var(--s);
            min-height: 2.5rem;
            outline: calc(var(--s) / 2) solid #0009;
            outline-offset: calc(var(--s) / -2);
            cursor: pointer;
            transition: 0.1s;

            background-color: var(--primary);
            color: var(--text-white);

            &:hover {
                outline: var(--b) solid var(--c);
                outline-offset: var(--g);
            }
        }

    }

    .home{
        color: #0E7A97;
        font-size: medium !important;

        h2{
            font-size: x-large !important;
            color: var(--primary);
        }

        @media(min-width: 767px){
            font-size: large !important;
            p{
                width: 85%;
            }
    
            h2{
                font-size: xx-large !important;
                color: var(--primary);
            }
        }
    }

    .blendmode{
        @media (max-width: 767px){
            background-blend-mode: screen;
        }
    }

    h2 {
        font-size: 1.125rem;
        overflow: hidden;
    }

    p {
        font-size: 0.75rem;
        overflow: hidden;
    }
}
