:host{
    color: var(--text);

    .main{
        min-height: 50rem;

        .profile-photo{
            width: 9.6875rem;
            height: 9.6875rem;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
        }
        h5{
            color: var(--primary);
            margin-bottom: 0rem;
        }
        p{
            text-align: justify;
        }
        .info-text{
            font-size: 0.875rem;
        }
        .name{
            color: var(--text);
        }
        section{
            background-color: var(--background);
            border-radius: 0.75rem;
        }
        .btn-view-all{
            background-color: var(--secondary);
            color: var(--text-white);
            border-radius: 0.75rem;
            &:hover{
                background-color: var(--primary);
            }
        }
        .side-icon{
            background-color: white;
            border-radius: 100%;
            width: 2.8125rem;
            height: 2.8125rem;
            padding: 0.7rem;
        }
        .skills{
            background-color: white;
            font-size: small;
            border: none;
            border-radius: 0.75rem;
        }
        .edit{
            background-color: rgba(250, 166, 26, 0.2);
            color: var(--primary);
            border-radius: 0.5rem;
            border: none;
        }
        @media (max-width: 992px){
            .dados-pessoais{
                flex-direction: column;
                gap: 1rem;
                .info-div{
                    flex-direction: column;
                }
            }
            .about-div{
                flex-direction: column;
                .about{
                    width: 100% !important;
                }
            }
        }
    }

}