<app-edit-profile-about-modal
    *ngIf="isEditAboutModalOpen"
    [profile]="professionalInfo"
    (closeModal)="closeEditModal()"
    (saveChanges)="saveProfileChanges($event)"
></app-edit-profile-about-modal>
<main class="d-flex w-100 main">
    <app-sidebar class="sidebar"></app-sidebar>
    <div class="w-100 fadeIn overflow-hidden">
        <div class="container py-5 px-3">
            <!-- dados pessoais -->
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="fw-bold">Dados Pessoais</h5>
                <button class="edit p-1" *ngIf="isLogged">Editar<img src="../../../assets/icons/edit.svg" alt="Editar" class="ms-2"></button>
            </div>
            <section>
                <div class="d-flex align-items-center p-4 dados-pessoais">
                    <img class="profile-photo mx-4" [src]="professionalInfo[0].photo || 'assets/imgs/default-profile.svg'" alt="Foto do perfil">
                    <div>
                        <h5 class="name fw-bold">{{professionalInfo[0].name}}, {{professionalInfo[0].age}}</h5>
                        <p class="info-text fw-light">{{professionalInfo[0].city}}, {{professionalInfo[0].state}}</p>
                        <div class="info-div d-flex gap-3 mt-3">
                            <div>
                                <p class="info-text mb-1 fw-light">E-mail</p>
                                <p class="mb-1">{{professionalInfo[0].email}}</p>
                            </div>
                            <div>
                                <p class="info-text mb-1 fw-light">Telefone</p>
                                <p class="mb-1">{{professionalInfo[0].cellphone}}</p>
                            </div>
                            <div>
                                <p class="info-text mb-1 fw-light">Senioridade</p>
                                <p class="mb-1">{{professionalInfo[0].seniority}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- sobre -->
            <div class="d-flex justify-content-between align-items-center mb-2 mt-4">
                <h5 class="fw-bold">Sobre</h5>
                <button class="edit p-1" *ngIf="isLogged" (click)="openEditModal(1)">Editar<img src="../../../assets/icons/edit.svg" alt="Editar" class="ms-2"></button>
            </div>
            <section>
                <div class="p-4">
                    <p class="my-1">{{professionalInfo[0].about}}</p>
                </div>
            </section>
            <!-- experiencias -->
            <div class="d-flex justify-content-between align-items-center mb-2 mt-4">
                <h5 class="fw-bold">Experiências</h5>
                <button class="edit p-1" *ngIf="isLogged">Editar<img src="../../../assets/icons/edit.svg" alt="Editar" class="ms-2"></button>
            </div>
            <section class="py-4">
                <div *ngFor="let experience of professionalInfo[0].experience; let i = index" class="px-4 py-2 d-flex gap-3 align-items-start">
                    <div class="d-flex flex-column justify-content-center align-items-center line-height">
                        <div class="side-icon d-flex ali justify-content-center">
                            <img src="assets/icons/briefcase.svg" alt="Experiência">
                        </div>
                        <div class="line h-100"></div>
                    </div>
                    <div>
                        <p class="fw-bold mb-1">{{experience.institution}}</p>
                        <p class="fw-light">{{experience.start}} - {{experience.end == '' ? 'até o momento' : experience.end}}</p>
                        <p class="fw-bold">{{experience.role}}</p>
                        <p>{{experience.description}}</p>
                    </div>
                </div>
            </section>
            <!-- formação -->
            <div class="d-flex justify-content-between align-items-center mb-2 mt-4">
                <h5 class="fw-bold">Formação</h5>
                <button class="edit p-1" *ngIf="isLogged">Editar<img src="../../../assets/icons/edit.svg" alt="Editar" class="ms-2"></button>
            </div>
            <section class="py-4">
                <div *ngFor="let education of professionalInfo[0].education; let i = index" class="px-4 py-2 d-flex gap-3 align-items-start">
                    <div class="d-flex flex-column justify-content-center align-items-center line-height">
                        <div class="side-icon d-flex ali justify-content-center">
                            <img src="assets/icons/formation.svg" alt="Experiência">
                        </div>
                        <div class="line h-100"></div>
                    </div>
                    <div>
                        <p class="fw-bold mb-1">{{education.institution}}</p>
                        <p class="fw-light">{{education.start}} - {{education.end == '' ? 'até o momento' : education.end}}</p>
                        <p class="fw-bold">{{education.title}}</p>
                        <p>{{education.description}}</p>
                    </div>
                </div>
            </section>
            <!-- habilidades -->
            <div class="d-flex justify-content-between align-items-center mb-2 mt-4">
                <h5 class="fw-bold">Habilidades</h5>
                <button class="edit p-1" *ngIf="isLogged">Editar<img src="../../../assets/icons/edit.svg" alt="Editar" class="ms-2"></button>
            </div>
            <section class="d-flex gap-2 p-4 flex-wrap">
                <div *ngFor="let skill of professionalInfo[0].skills; let i = index">
                    <p class="skills my-1 p-1">{{professionalInfo[0].skills[i]}}</p>
                </div>
            </section>
            <!-- idiomas -->
            <div class="d-flex justify-content-between align-items-center mb-2 mt-4">
                <h5 class="fw-bold">Idiomas</h5>
                <button class="edit p-1" *ngIf="isLogged">Editar<img src="../../../assets/icons/edit.svg" alt="Editar" class="ms-2"></button>
            </div>
            <section class="p-4">
                <div *ngFor="let language of professionalInfo[0].languages; let i = index" class="my-2">
                    <p class="my-1 fw-bold">{{language.language}}</p>
                    <p class="my-1 fw-light">{{language.level}}</p>
                </div>
            </section>
        </div>
        <app-footer class="footer"></app-footer>
    </div>
</main>