<article *ngIf="card"
    class="card d-flex border-0 rounded-4 container overflow-hidden py-4 w-100 m-0" [ngClass]="{'flex-row': !isShort}"
    [ngStyle]="{'padding': isShort?'1rem': '1.56rem 0 1.5rem 5.5rem'}" [routerLink]="isLogged ? ['/search-vacancies'] : null">

    <section class="content section-description position-relative px-0" [ngClass]="{'w-100': isShort}">
        <img [src]="card.fotoPerfil" (error)="onImageError($event)"  alt=" "
            class="rounded-circle logo position-absolute bg-white img-fluid"
            [ngClass]="card.fotoPerfil ? 'object-fit-cover': 'object-fit-scale'"
            [ngStyle]="{'left': isShort?'0': '-65px'}">

        <div class="d-flex align-items-start flex-wrap w-100" [ngClass]="{'flex-column': isShort}">
            <div class="title-company me-4 w-100" [ngClass]="{'ms-5':isShort}" [ngStyle]="{'padding-left': isShort? '12px': '0'}">
                <h3 class="me-0 fw-light mb-0 text-start text-capitalize overflow-hidden">{{card.nomeEmpresa}}</h3>
                <h2 class="m-0 fw-medium w-100 text-capitalize pt-1">{{card.tituloVaga.length > 25 ? card.tituloVaga.substring(0, 25) + '...' : card.tituloVaga}}</h2>
            </div>

            <!--  -->
            <div class="status d-flex align-items-center flex-wrap mt-1" *ngIf="!isShort && differenceInDays">
                <img src="assets/icons/calendar.svg" alt="Icone de calendário" width="24px" height="24px"
                    class="me-3 mt-2">
                <span class="bg-white px-3 rounded-5 me-3 fw-medium mt-2">{{differenceInDays}}</span>
            </div>
        </div>

        <div class="description overflow-hidden me-5" *ngIf="!isShort">
            <p class="m-0  mt-4 text-start border-0 overflow-hidden fw-light text-wrap pe-3 text-capitalize">
                {{card.descricaoVaga}}
            </p>
        </div>
    </section>

    <!-- ------------------------- -->

    <section class="d-flex align-items-center p-0 m-0 row container about position-relative"
        [ngClass]="{'flex-column': !isShort, 'justify-content-evenly': !isShort, 'me-2': !isShort,'flex-nowrap': isShort, 'mt-2':isShort, 'justify-content-between': isShort}">

        <div class="col d-flex flex-wrap flex-column justify-content-start px-1" *ngIf="isShort">

            <div class="d-flex align-items-center justify-content-start flex-nowrap mt-3">
                <img src="assets/icons/calendar.svg" alt="Icone de calendário" width="24px" height="24px" class="me-3">
                <span class="bg-white px-3 rounded-5 me-3 fw-medium"
                    [title]="card.horaInclusao.split(' ')[0]">{{card.horaInclusao.split(' ')[0]}}</span>
            </div>

            <div class="d-flex align-items-center justify-content-start flex-nowrap mt-3">
                <img src="assets/icons/map.svg" alt="Icone de mapa" class="me-3" width="24px" height="24px"
                    class="me-3">
                <span class="rounded-5 bg-white px-3 fw-medium" [title]="card.endereco ? card.endereco.estado : card.estado">
                    {{card.endereco ? card.endereco.estado : card.estado}}
                </span>
            </div>

        </div>

        <div class=" col m-0 pt-0 ps-0 d-flex flex-column justify-content-center"
            [ngStyle]="{'min-width': !isShort?'100%':'auto'}">

            <div class="d-flex align-items-center justify-content-start mt-3" *ngIf="!isShort">
                <img src="assets/icons/map.svg" alt="Icone de mapa" class="me-3" width="24px" height="24px">
                <span class="rounded-5 bg-white px-3 fw-medium" [title]="card.endereco ? card.endereco.cidade : card.cidade">
                    {{card.endereco ? card.endereco.cidade : card.cidade}}
                </span>
            </div>

            <div>
                <div class="d-flex align-items-center justify-content-start flex-nowrap mt-3">

                    <img src="assets/icons/list.svg" alt="Icone de lista" width="24px" height="24px" class="me-3">
                    <span class="me-2 rounded-5 bg-white px-3 fw-medium skill">
                        {{card.habilidades[0]}}
                    </span>
                    <span class="rounded-5 bg-white px-2 fw-medium" *ngIf="!(card.habilidades.length < 2)">
                        +{{card.habilidades.length - 1}}
                    </span>

                </div>
            </div>

            <div class="d-flex align-items-center justify-content-start flex-nowrap mt-3">

                <img src="assets/icons/desktop.svg" alt="Icone de computador" width="24px" height="24px" class="me-3">
                <span class="rounded-5 bg-white px-3 fw-medium">
                    {{card.modalidade}}
                </span>

            </div>

            <div class="d-flex align-items-center justify-content-start flex-nowrap mt-3" *ngIf="!isShort">
                <img src="assets/icons/bag.svg" alt="Icone de maleta" class="me-2 " width="24px" height="24px"
                    class="me-3">
                <span class="rounded-5 bg-white px-3 fw-medium" [title]="card.tipoContrato">{{card.tipoContrato}}</span>
            </div>

        </div>

    </section>

</article>