:host {
    overflow: hidden;
    .card {
        background-color: var(--background);
        color: var(--text);

        max-height: 190px;

        .bg-var-primary {
            background-color: var(--primary);
            color: var(--text-white);
        }

        h2 {
            font-size: 1.125rem;
        }

        p,
        h3,
        span {
            text-align: center;
            font-size: 0.85rem;
            background: none;
            max-height: 100px;
        }

        .description {
            p {
                max-height: 65px;
            }
        }

        span {
            max-height: 20px;
            overflow: hidden;
        }
        @media screen and (max-width: 996px) {
            .description {
                p {
                    display: none;
                }
            }
        }
    }
}
