<div class="modal-container centralizeOnScreen fadeIn">
    <form (ngSubmit)="onSubmit()">
        <div class="d-flex justify-content-between align-items-center">
            <label for="education" class="fw-bold fs-5">Formações:</label>
            <button type="button" class="btn save" (click)="addEducation()">Adicionar</button>
        </div>
        <p class="fw-light">* Campos obrigatórios</p>
        <div *ngFor="let education of editedProfile[0].education; let i = index" class="mt-5">
            <div class="d-flex justify-content-between align-items-center">
                <h6 for="education" class="fw-bold">Formação {{editedProfile[0].education.length - i}}</h6>
                <button type="button" class="btn cancel" (click)="deleteEducation(i); verifyEducation()">Excluir<img src="../../assets/icons/trash.svg" alt="Excluir" class="ms-2 trash-icon"></button>
            </div>
            <ng-container [ngModelGroup]="i.toString()">
                <label for="education">Instituição *</label>
                <input type="text" class="form-control mt-1" placeholder="Instituição" [(ngModel)]="education.institution" name="institution" (input)="verifyEducation()">
                <div class="d-flex gap-3 mt-3">
                    <div class="w-50">
                        <label for="monthStart">Mês *</label>
                        <select id="monthStart" name="monthStart" class="form-select" (change)="selectInputStartMonth($event, i)" (change)="verifyEducation()" [(ngModel)]="education.start.split(' ')[0]">
                            <option *ngFor="let month of getMonthOptions()" [value]="month" [selected]="month === education.start.split(' ')[0]">{{ month }}</option>
                        </select>
                    </div>   
                    <div class="w-50">
                        <label for="yearStart">Ano *</label>
                        <select id="yearStart" name="yearStart" class="form-select" (change)="selectInputStartYear($event, i)" [(ngModel)]="education.start.split(' ')[1]" (change)="verifyEducation()">
                            <option *ngFor="let year of getAnoOptions()" [value]="year" [selected]="year === education.start.split(' ')[1]">{{ year }}</option>
                        </select>
                    </div>
                    <div class="w-50">
                        <label for="monthEnd">Mês final</label>
                        <select id="monthEnd" name="monthEnd" class="form-select" (change)="selectInputEndMonth($event, i)" [(ngModel)]="education.end.split(' ')[0]" [disabled]="education.current">
                            <option *ngFor="let month of getMonthOptions()" [value]="month" [selected]="month === education.end.split(' ')[0]">{{ month }}</option>
                        </select>
                    </div>
                    <div class="w-50">
                        <label for="yearEnd">Ano final</label>
                        <select id="yearEnd" name="yearEnd" class="form-select" (change)="selectInputEndYear($event, i)" [(ngModel)]="education.end.split(' ')[1]" [disabled]="education.current">
                            <option *ngFor="let year of getAnoOptions()" [value]="year">{{ year }}</option>
                        </select>
                    </div>
                </div>
                <div class="mt-3">
                    <input type="checkbox" class="form-check-input" id="btncheck" autocomplete="off" (change)="selectCurrent(i)" [checked]="education.current">
                    <label class="ms-2" for="btncheck">Formação atual?</label>
                </div>
                <label for="role" class="mt-3">Título *</label>
                <input type="text" class="form-control mt-1" placeholder="Curso" [(ngModel)]="education.title" name="role" (input)="verifyEducation()">
                <label for="description" class="mt-3">Descrição *</label>
                <textarea id="education" [(ngModel)]="education.description" name="description" class="form-control mt-1" (input)="verifyEducation()"></textarea>
            </ng-container>
        </div>
        <div class="d-flex justify-content-end gap-2 mt-3">
            <button type="button" class="btn cancel" (click)="cancelEdit()">Cancelar</button>
            <button type="submit" class="btn save" [disabled]="!isValid">Salvar</button>
        </div>
    </form>
</div>