<main class="d-flex w-100 main">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="w-100 fadeIn">
        <div class="container px-4 div-main">
            <div class="d-flex justify-content-end">
                <app-header></app-header>
            </div>

            <div class="row px-4">
                <div class="col">
                    <section class="pb-1">

                        <h1 class="fw-bold fs-5 mt-1 w-100 py-4 pb-0">
                            Solicitar Coin Factor
                        </h1>

                        <p>
                            Impulsione ainda mais sua empresa adquirindo vouchers para continuar publicando vagas que
                            irão
                            impactar vidas
                        </p>
                    </section>

                    <div class="d-flex align-items-center div-content row">
                        <section class=" col">
                            <p>
                                Olá,
                            </p>

                            <p>
                                Quando você faz uma solicitação de <span class="fw-medium">Coin Factor</span>, estamos
                                felizes
                                em
                                informar que um valor fixo
                                adicional de 100 coins será creditado no saldo total da sua conta. Isso significa que
                                sua
                                conta
                                será
                                reforçada com 100 coins adicionais para que você possa aproveitar ao máximo os recursos
                                da
                                nossa
                                plataforma.
                            </p>

                            <p>
                                É importante lembrar que todas as solicitações de <span class="fw-medium">Coin
                                    Factor</span>
                                estão
                                sujeitas a aprovação pelos
                                administradores da E-Factor. Isso é uma medida para garantir que as transações sejam
                                realizadas
                                com
                                segurança e eficiência. Nossos administradores revisarão sua solicitação com cuidado.
                            </p>

                            <p>
                                Se, por qualquer motivo, você não concordar com a possível rejeição da sua solicitação,
                                estamos
                                aqui
                                para ajudar. Você pode entrar em contato com nossa equipe pelo e-mail <span
                                    class="email">efactor@ajuda.com</span> para
                                esclarecer dúvidas, discutir a situação e buscar soluções que atendam às suas
                                necessidades.
                            </p>

                            <p>
                                Agradecemos por escolher a E-Factor e por fazer parte da nossa comunidade. Estamos à
                                disposição
                                para
                                tornar a sua experiência conosco a melhor possível.
                            </p>
                        </section>

                        <section class="px-4 col card-request-coin col">
                            <div class="rounded-3 card border-0 align-items-center overflow-hidden px-2">
                                <h3 class="fw-bold fs-5 my-5 w-100 py-4 pb-0 text-center">
                                    Você possui
                                </h3>

                                <img src="assets/icons/coin-factor.svg" alt="Ícone da coin factor" width="85px"
                                    height="85px" title="Coin Factor" class="my-4">

                                <h2 class="coin fw-bold fs-5 mt-1 w-100 py-3 pb-0 text-center">
                                    <span class="coin-quantity">
                                        {{coin}}
                                    </span>
                                    coin factor
                                </h2>

                                <button type="button" class="my-5 rounded-3 py-1 border-0 button-request"
                                    routerLink="send">
                                    Solicitar
                                </button>
                            </div>

                        </section>
                    </div>
                </div>
            </div>
        </div>

        <app-footer></app-footer>
    </div>
</main>