<footer class="footer">

    <div class="div-main">
        <section class="section-figure">
            <figure>
                <img src="assets/icons/logo-site.svg" alt="Logo E-Factor" title="E-Factor">
                <figcaption>
                    <p>O seu profissional ou sua vaga na palma da sua mão de um jeito diferente.</p>
                </figcaption>
            </figure>
        </section>

        <section>
            <nav class="nav">
                <ul *ngIf="arrayMenu">
                    <li *ngFor="let menu of arrayMenu">
                        <h2>{{menu.title}}</h2>
                        <ul>
                            <li *ngFor="let direct of menu.routers">
                                <a [href]="direct[0]">{{direct[1]}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </section>
    </div>

    <section>
        <nav class=" nav">
            <h3>© E-Factor 2023.</h3>
            <ul>
                <li>
                    <a>Termos</a>
                </li>

                <li>
                    <a>Privacidade</a>
                </li>

                <li>
                    <a>Cookies</a>
                </li>
            </ul>
        </nav>
    </section>

</footer>