:host {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--text);
  background: var(--background);
  width: 100vw;
  padding: 1.68rem 1.35rem 1.35rem 2.6rem;

  .footer {
    .div-main > .section-figure {
      max-width: 13.375rem;

      figure {
        & img {
          max-width: 6.63rem;
          margin-bottom: 1.63rem;
        }
        & p {
          font-size: 0.95rem;
        }
      }
    }

    & li {
      li:last-child {
        margin-right: 8.25rem;
      }

      &:not(:last-child) {
        margin-right: 2.6rem;
      }

      & a {
        cursor: pointer;
        color: var(--text);

        &:hover {
          color: var(--primary);
          transition: 0.4s;
        }
      }

      & ul {
        & li:not(:last-child) {
          margin-bottom: 0.83rem;
        }
      }
    }

    & .div-main + section {
      font-size: 0.75rem;

      & .nav h3 {
        font-size: 0.75rem;
      }
    }
  }
}
