:host {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--quaternary);
  background: var(--background);
  width: 100vw;
  padding: 2.68rem 1rem 1.35rem 2.6rem;

  .footer {
    display: flex;
    flex-direction: column;
    min-width: 100%;

    & .div-main {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    & .div-main > .section-figure {
      display: flex;
      flex-direction: column;
      max-width: 13.375rem;

      & figure {
        & img {
          max-width: 6.63rem;
          margin-bottom: 1.63rem;
        }
        & figcaption {
          & p {
            font-size: 0.9rem;
            font-style: normal;
            font-weight: 300;
            overflow: hidden;
          }
        }
      }

      //Estilizando a legenda
    }

    & .nav {
      ul {
        display: flex;
        flex-wrap: wrap;

        & li {
          min-width: 12rem;

          //Espaçando os grupos de links menos no último com o margin-rigth.

          &:not(:last-child) {
            margin-right: 2.6rem;
          }

          //Estilização dos títulos do grupo dos links

          & h2 {
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 600;
            margin-bottom: 1.47rem;
          }

          & a {
            cursor: pointer;
            color: var(--text);

            &:hover {
              color: var(--primary);
              transition: 0.4s;
            }
          }

          & ul {
            display: flex;
            flex-direction: column;

            //Espaçando os links menos no último com o margin-bottom.

            & li:not(:last-child) {
              margin-bottom: 0.83rem;
            }
          }
        }
      }
    }

    //Estilizando ultima section do footer

    & .div-main + section {
      margin-top: 3.07rem;

      & .nav {
        display: flex;
        justify-content: space-between;

        // Estilizazndo o último elemento do footer onde fica o nome da e-factor

        & h3 {
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
        }
      }
    }
  }

  @media screen and (max-width: 1056px) {
    .div-main {
      & .section-figure + section {
        //Espaçamento da legenda
        margin-top: 3rem;

        & li:not(:last-child) {
          //Espaçamento do título do grupo de links
          margin-bottom: 2rem;
        }
      }
    }
  }

  @media screen and (max-width: 843px) {
    .div-main + section {
      .nav {
        display: flex;
        flex-direction: column;

        h3 {
          margin-bottom: 1rem;
        }

        & li:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
