<footer class="footer">

    <div class="div-main">
        <section class="logo">
            <img src="assets/icons/logo-site.svg" alt="Logo E-Factor">
            <p>O seu profissional ou sua vaga na palma da sua mão de um jeito diferente.</p>
        </section>

        <section>
            <nav class="nav">
                <ul>
                    <li id="nav-empresa">
                        <h2>Empresa</h2>
                        <ul>
                            <li>
                                <a>Criar vaga</a>
                            </li>

                            <li>
                                <a>Buscar profissional</a>
                            </li>
                            <li>
                                <a>Criar conta</a>
                            </li>
                        </ul>
                    </li>

                    <li id="nav-profissional">
                        <h2>Profissional</h2>
                        <ul>
                            <li>
                                <a>Buscar vaga</a>
                            </li>

                            <li>
                                <a>Criar conta</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <h2>Outros</h2>
                        <ul>
                            <li>
                                <a>Novidades</a>
                            </li>

                            <li>
                                <a>Sobre</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </section>
    </div>

    <section>
        <nav class="nav">
            <h3>© E-Factor 2023.</h3>
            <ul>
                <li>
                    <a>Termos</a>
                </li>

                <li>
                    <a>Privacidade</a>
                </li>

                <li>
                    <a>Cookies</a>
                </li>
            </ul>
        </nav>
    </section>

</footer>