<footer>
    <section>
        <img src="assets/icons/logo.svg" alt="Logo E-Factor">
        <p>O seu profissional ou sua vaga na palma da sua mão de um jeito diferente.</p>
    </section>

    <nav>
        <section class="menu-empresa">
            <h2>Empresa</h2>
            <ul>
                <li><a>Criar vaga</a></li>
                <li><a>Buscar profissional</a></li>
                <li><a>Criar conta</a></li>
            </ul>
        </section>

        <section class="menu-profissional">
            <h2>Profissional</h2>
            <ul>
                <li><a href="#">Criar vaga</a></li>
                <li><a>Buscar profissional</a></li>
                <li><a>Criar conta</a></li>
            </ul>
        </section>

        <section class="menu-outros">
            <h2>Outros</h2>
            <ul>
                <li><a>Criar vaga</a></li>
                <li><a>Buscar profissional</a></li>
                <li><a>Criar conta</a></li>
            </ul>
        </section>
    </nav>

</footer>