<div class="card d-flex flex-row row">

    <div class="col-10 content">
        <img src="../../../assets/icons/map.svg" alt="Company Logo" class="rounded-5 logo">

        <div class="header d-flex align-items-end">
            <div class="title-company">
                <h3 class="m-0">Google</h3>
                <H2 class="m-0">Desenvolvedor Senior</H2>
            </div>
            <div class="status ms-5 d-flex align-items-center">
                <img src="../../../assets/icons/calendar.svg" alt="">
                <span>Há 6 dias</span>
                <span>Últimas vagas</span>
            </div>
        </div>

        <div class="description">
            <p class="m-0 pe-5 mt-5">
                Lorem ipsum dolor sit amet consectetur. Suspendisse maecenas condimentum blandit vitae tortor dis nec
                mattis. Ipsum eu praesent orci lacus. Sed lorem id duis tempor felis tempor molestie. Commodo nisl sed
                massa varius magna interdum. Pulvinar nibh dignissim egestas ut. Nibh amet vitae sed duis sit diam.
                Feugiat sit viverra habitant platea adipiscing amet in nisi cursus. Feugiat mi rutrum velit vitae.
            </p>
        </div>
    </div>

    <aside class="d-flex flex-column justify-content-around col-2">
        <div class="d-flex flex-wrap">
            <img src="assets/icons/map.svg" alt="Map" class="me-2">
            <div class="mt-2 fw-medium rounded-5 bg-white px-3">São Paulo, SP</div>
        </div>

        <div class="d-flex mt-2 flex-wrap">
            <img src="assets/icons/list.svg" alt="Hard skill" class="me-2">
            <div class="me-2 mt-2 fw-medium rounded-5 bg-white px-3">Angular</div>
            <div class="mt-2 fw-medium rounded-5 bg-white px-2">+11</div>
        </div>

        <div class="d-flex mt-2 flex-wrap">
            <img src="assets/icons/desktop.svg" alt="Desktop" class="me-2">
            <div class="mt-2 fw-medium rounded-5 bg-white px-3">Home Office</div>
        </div>

        <div class="d-flex mt-2 flex-wrap">
            <img src="assets/icons/bag.svg" alt="Bag" class="me-2">
            <div class="mt-2 fw-medium rounded-5 bg-white px-3">CLT</div>
        </div>
    </aside>

</div>