<app-block-nonlogged-modal 
*ngIf="isBlockNonloggedModalOpen"
(closeModal)="closeNonLoggedModal()"
></app-block-nonlogged-modal>
<main class="d-flex w-100 main">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="w-100 fadeIn overflow-hidden">
        <div class="w-100 container div-main">
            <app-header></app-header>

            <section class="mb-0 w-100 py-4 fadeInLeft">
                <div class="text-start mt-5">
                    <div class="row">
                        <p-carousel [value]="banners" [numVisible]="1" [numScroll]="1" [showIndicators]="true"
                            [circular]="true" [autoplayInterval]="4000"
                            [showNavigators]="false" class="col-12">

                            <ng-template let-card pTemplate="courses">
                                <card-newsletter [card]="card" class="mx-0 card-home"></card-newsletter>
                            </ng-template>

                        </p-carousel>
                    </div>
                </div>
            </section>

            <!--   -->

            <section class="mt-0 w-100  py-1 fadeInDown">
                <div *ngIf="cardProfessional && cardProfessional[1]"
                    class="section-professional d-flex justify-content-center row fadeIn">
                    <div class="see-more pt-2 col-lg-12 col-xl-12 col-xxl-4 fadeIn">
                        <h3 class="fw-bold fs-6 mt-4 fadeIn">
                            Um mundo de profissionais ao seu alcance.
                        </h3>
                        <p class="fw-light mt-3 fadeIn">
                            Encontre profissionais capacitados com a categoria de sua preferência.
                        </p>

                        <button type="button" class="mt-4 border-0 fw-medium py-2 rounded-3 me-0"
                            routerLink="/search-professionals">
                            Ver tudo
                        </button>
                    </div>

                    <card-professional *ngIf="cardProfessional[1]" [isLogged]="isLogged" [short]="true" [card]="cardProfessional[1]"
                        (click)="isLogged ? '' : openNonLoggedModal()"
                        class="mt-4 col-lg-6 col-xl-6 col-xxl-4 fadeIn"></card-professional>

                    <card-professional *ngIf="cardProfessional[0]" [isLogged]="isLogged" [short]="true" [card]="cardProfessional[0]"
                        (click)="isLogged ? '' : openNonLoggedModal()"
                        class="mt-4 col-lg-6 col-xl-6 col-xxl-4 fadeIn"></card-professional>

                </div>
            </section>

            <section class="w-100 py-1 fadeInDown">
                <div *ngIf="cardVacancy && cardVacancy.length >= 2 && cardVacancy[1]"
                    class="div-vacancy row justify-content-center fadeIn">

                    <card-vacancy [short]="true" [isLogged]="isLogged" [card]="cardVacancy[1]" class="mt-4 col-lg-6 col-xl-6 col-xxl-4"
                        (click)="isLogged ? '' : openNonLoggedModal()"></card-vacancy>
                    <card-vacancy [short]="true" [isLogged]="isLogged" [card]="cardVacancy[0]" class="mt-4 col-lg-6 col-xl-6 col-xxl-4"
                        (click)="isLogged ? '' : openNonLoggedModal()"></card-vacancy>

                    <div class="see-more d-flex flex-column align-items-end mt-4 col-lg-12 col-xl-12 col-xxl-4 fadeIn">
                        <h3 class="fw-bold fs-6 text-end pt-2 fadeIn">
                            Um mundo de vagas ao seu alcance.
                        </h3>
                        <p class="fw-light mt-2 text-end">
                            Encontre vagas onde você se enquada com a categoria de sua
                            preferência.
                        </p>

                        <button type="button" class="mt-4 border-0 fw-medium py-2 rounded-3 me-0"
                            routerLink="/search-vacancies">
                            Ver tudo
                        </button>
                    </div>
                </div>
            </section>

            <section class="mt-5 w-100 py-4">
                <div class="div-howitworks">
                    <h2 class="fw-bold fs-5 text-center">
                        Como funciona a E-factor
                    </h2>

                    <div class="banner1 fadeInLeft"></div>
                    <div class="banner2 fadeInRight"></div>
                    <div class="banner3 fadeInLeft"></div>
                </div>
            </section>

            <section class="mt-5 mb-5 py-4 w-100">
                <div class="text-center">
                    <h2 class="fw-bold fs-5">
                        Depoimentos
                    </h2>

                    <div class="text-start mt-5">
                        <div class="row">
                            <p-carousel [value]="testimonials" [numVisible]="numOfCards" [numScroll]="1"
                                [responsiveOptions]="responsiveOptions" [circular]="true" [autoplayInterval]="4000"
                                class="col-12" [showNavigators]="false">

                                <ng-template let-card pTemplate="item">
                                    <card-details [card]="card" class="mx-2"></card-details>
                                </ng-template>

                            </p-carousel>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <app-footer></app-footer>
    </div>
</main>