:host {
    color: var(--text);

    .main {
        .div-main {
            min-height: 100vh;
        }
        min-height: 100vh;
        h2,
        h1,
        h3,
        span,
        .text-color-primary {
            color: var(--primary);
        }

        h2 {
            font-size: 1.4rem;
            font-weight: 700;
            color: var(--secondary);
        }

        p {
            color: var(--text-gray);
        }

        img.notFound {
            width: 8rem;
        }
    }

    button {
        background: var(--secondary);

        color: var(--text-white);
        &:hover {
            background: var(--primary);
        }
    }
}
