:host {
    #sidebar {
        position: relative;
        background-color: var(--background);
        width: 16.625rem;
        height: 100%;

        #logo {
            width: 9.688rem;
        }

        .menu {
            position: fixed;
            left: 0;
            top: 10rem;
            padding: 0 0 0 2.5rem;
        }

        #nav-links {
            span {
                cursor: pointer;
                height: 3.125rem;
            }

            a {
                color: var(--text);
            }

            .active-link {
                img {
                    filter: invert(74%) sepia(85%) saturate(611%) hue-rotate(326deg) brightness(102%) contrast(96%);
                }

                div {
                    width: 0.625rem;
                    height: 3.125rem;
                    background-color: var(--primary);
                    border-radius: 0rem 0.313rem 0.313rem 0rem;
                    left: 0;
                }

                a {
                    color: var(--primary);
                }
            }
        }

        #login {
            position: fixed;
            display: flex;
            width: 11.875rem;
            height: 2.5rem;

            margin-top: 150px;

            background-color: var(--secondary);
            border-radius: 0.75rem;
            cursor: pointer;

            &:hover {
                background-color: var(--primary);
            }

            div {
                a {
                    color: #fff;
                }
            }
        }

        @media (min-height: 801px) {
            #login {
                bottom: 19rem;
            }

            .menu{
                top: 7.5rem;
                overflow-y: scroll;
            }
        }

        
        @media (max-height: 800px) {
            #login {
                bottom: 19rem;
            }

            .menu{
                top: 7.5rem;
                height: 35%;
                overflow-y: scroll;
            }
        }

        @media (max-height: 750px) {
            #login {
                bottom: 19rem;
            }

            .menu{
                top: 7.5rem;
                height: 35%;
                overflow-y: scroll;
            }
        }

        @media (max-height: 725px) {
            #login {
                bottom: 19rem;
            }

            .menu{
                top: 7.5rem;
                height: 180px;
                overflow-y: scroll;
            }
        }

        @media (max-height: 650px) {
            #login {
                bottom: 19rem;
            }

            .menu{
                top: 7.5rem;
                height: 120px;
                overflow-y: scroll;
            }
        }

            @media (max-height: 591px) {
                #login {
                    bottom: 19rem;
                }

                .menu{
                    margin-top: 1rem;
                    top: 17%;
                    height: 12%;
                    overflow-y: scroll;
                }
            }

        @media (max-height: 510px) {

            #login {
                bottom: 19rem;
            }

            .menu{
                display: none;
            }
        }
        @media (max-height: 450px) {
            #login {
                display: none;
            }
        }
        @media (max-height: 400px) {
            #logo {
                display: none;
            }
        }
    }
}
