:host{

    left: 0;
    top: 0;
    position: absolute;

    #sidebar{
        background-color: var(--background);
        width: 15.625rem;
        height: 52rem;
    
        #logo{
            width: 9.688rem;
        }
    
        #nav-links{
            span{
                cursor: pointer;
                height: 3.125rem;
            }
    
            a{
                color: var(--text);
            }
    
            .active-link{
                img{
                    filter: invert(74%) sepia(85%) saturate(611%) hue-rotate(326deg) brightness(102%) contrast(96%);
                }
    
                div{
                    width: 0.625rem;
                    height: 3.125rem;
                    background-color: var(--primary);
                    border-radius: 0rem 0.313rem 0.313rem 0rem;
                    left: 0;
                }
    
                a{
                    color: var(--primary);
                }
            }
        }
    
        #login{
            width: 11.875rem;
            height: 2.5rem;
    
            background-color: var(--secondary);
            border-radius: 0.75rem;
            cursor: pointer;
    
            div{
                a{
                    color: #fff;
                }
            }
        }
    }
}
