<div class="modal-container centralizeOnScreen fadeInFromCenter">
    <form (ngSubmit)="onSubmit()">
        <h3 class="fw-bold mb-4">Editar dados do colaborador</h3>

        <div class="mb-3">
            <label for="email">E-mail</label>
            <input id="email" [(ngModel)]="editedUser.email" name="email" type="email" class="fs-6 form-control" 
                    placeholder="Ex: email@efactor.com" (input)="validateEmailEmpty()" (blur)="validateEmailValid(0); validateEmailMatchValid(); verifyUser()"
                    [ngClass]="{'invalid': emailEmpty || emailInvalid || emailsDontMatch}">
    
            <div class="d-flex">
                <div *ngIf="emailEmpty" class="mt-1 ms-1">
                    <span class="invalid fw-light">Campo obrigatório</span>
                </div>
            </div>

            <div class="d-flex">
                <div *ngIf="emailInvalid" class="mt-1 ms-1">
                    <span class="invalid fw-light">E-mail inválido</span>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="emailConfirm">Confirmação de e-mail</label>
            <input id="emailConfirm" [(ngModel)]="emailConfirm" name="emailConfirm" type="email" class="fs-6 form-control" 
                    placeholder="Ex: email@efactor.com" (input)="validateEmailConfirmationEmpty()" (blur)="validateEmailValid(1); validateEmailMatchValid(); verifyUser()"
                    [ngClass]="{'invalid': emailConfirmationEmpty || emailConfirmationInvalid || emailsDontMatch}">

            <div class="d-flex">
                <div *ngIf="emailConfirmationEmpty" class="mt-1 ms-1">
                    <span class="invalid fw-light">Campo obrigatório</span>
                </div>
            </div>

            <div class="d-flex">
                <div *ngIf="emailConfirmationInvalid" class="mt-1 ms-1">
                    <span class="invalid fw-light">E-mail inválido</span>
                </div>
            </div>

            <div class="d-flex">
                <div *ngIf="emailsDontMatch" class="mt-1 ms-1">
                    <span class="invalid fw-light">E-mails não conferem</span>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="name">Nome</label>
            <input id="name" [(ngModel)]="editedUser.nome" name="name" type="text" class="fs-6 form-control" 
                    placeholder="João Silva" (input)="validateNameEmpty()" (blur)="verifyUser()"
                    [ngClass]="{'invalid': nameEmpty}">

            <div class="d-flex">
                <div *ngIf="nameEmpty" class="mt-1 ms-1">
                    <span class="invalid fw-light">Campo obrigatório</span>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="phone">Celular</label>
            <input id="phone" [(ngModel)]="editedUser.telefone" name="phone" type="text" class="fs-6 form-control" 
                    placeholder="(00) 00000-0000" (input)="validatePhoneEmpty(); applyPhoneMask($event)" (blur)="validatePhoneValid(); verifyUser()" [maxlength]="15"
                    [ngClass]="{'invalid': phoneEmpty || phoneInvalid}">
            
            <div class="d-flex">
                <div *ngIf="phoneEmpty" class="mt-1 ms-1">
                    <span class="invalid fw-light">Campo obrigatório</span>
                </div>
            </div>

            <div class="d-flex">
                <div *ngIf="phoneInvalid" class="mt-1 ms-1">
                    <span class="invalid fw-light">Número inválido</span>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="password">Senha</label>
            <div class="d-flex">
                <input id="password" [(ngModel)]="editedUser.senha" name="password" [type]="showPassword ? 'text' : 'password'" class="fs-6 form-control" 
                        placeholder="Senha" (input)="validatePasswordEmpty()" (blur)="validatePasswordMatchValid(); verifyUser()"
                        [ngClass]="{'invalid': passwordEmpty || passwordDontMatch}">
                <img [src]="showPassword ? 'assets/icons/change-password/password-show.svg' : 'assets/icons/change-password/password.svg'"
                        (click)="showPassword = !showPassword" class="input-icon" width="20px" height="20px">
            </div>

            <div class="d-flex">
                <div *ngIf="passwordEmpty" class="mt-1 ms-1">
                    <span class="invalid fw-light">Campo obrigatório (mín. 8 caracteres)</span>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="passwordConfirm">Confirmação de senha</label>
            <div class="d-flex">
                <input id="passwordConfirm" [(ngModel)]="passwordConfirm" name="passwordConfirm" [type]="showPasswordConfirmation ? 'text' : 'password'" class="fs-6 form-control" 
                        placeholder="Confirmação de senha" (input)="validatePasswordConfirmationEmpty()" (blur)="validatePasswordMatchValid(); verifyUser()"
                        [ngClass]="{'invalid': passwordConfirmationEmpty || passwordDontMatch}">
                <img [src]="showPasswordConfirmation ? 'assets/icons/change-password/password-show.svg' : 'assets/icons/change-password/password.svg'"
                        (click)="showPasswordConfirmation = !showPasswordConfirmation" class="input-icon" width="20px" height="20px">
            </div>

            <div class="d-flex">
                <div *ngIf="passwordConfirmationEmpty" class="mt-1 ms-1">
                    <span class="invalid fw-light">Campo obrigatório (mín. 8 caracteres)</span>
                </div>
            </div>

            <div class="d-flex">
                <div *ngIf="passwordDontMatch" class="mt-1 ms-1">
                    <span class="invalid fw-light">Senhas não conferem</span>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end gap-2 mt-3">
            <button type="button" class="btn cancel" (click)="cancelEdit()">Cancelar</button>
            <button type="submit" class="btn save" [disabled]="!isValid">
                <div class="spinner-border" role="status" style="width: 1.3rem; height: 1.3rem;"
                    *ngIf="isLoading">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <p *ngIf="!isLoading" class="m-0">Salvar</p>
            </button>
        </div>
    </form>
</div>
<p-toast></p-toast>