:host {
    color: var(--text);

    .main {
        min-height: 100vh;
        h2,
        h1,
        h3,
        span,
        .text-color-primary {
            color: var(--primary);
        }

        .div-main {
            min-height: 100vh;
            h2 {
                font-size: 1.4rem;
                font-weight: 700;
                color: var(--secondary);
            }

            p {
                color: var(--text-gray);
            }

            .section-main {
                min-height: 62.5rem;
            }

            .div-filter {
                position: sticky;
                top: 8vh;
            }

            img.notFound {
                width: 8rem;
            }

            .cursor-pointer{
                cursor: pointer;
            }
        }
    }

    button {
        background: var(--secondary);

        color: var(--text-white);
        &:hover {
            background: var(--primary);
        }
    }

    @media(max-width: 767px) {
        .div-content {
            flex-direction: column-reverse;
            .col-3, .col-9 {
                width: 100%;
            }
        }
    }
}
:host ::ng-deep {
    .modal {
        .p-dialog-content,
        .p-dialog-title,
        .p-dialog-header {
            background: var(--background);
        }
        .p-dialog-header {
            padding: 0.8rem 2rem 0.2rem 0;
            .p-ripple {
                &:hover {
                    background: var(--primary);
                    svg {
                        color: white;
                    }
                }
            }
        }
    }
}

