:host {
  .footer {
    color: var(--text);
    background: var(--background);
    padding: 2.6rem;
    font-size: 0.75rem;

    .logo-description {
      P {
        max-width: 250px;
      }
    }

    .section-menu {
      p {
        font-size: 0.95rem;
      }

      a {
        cursor: pointer;
        color: var(--text);

        &:hover {
          color: var(--primary);
          transition: 0.4s;
        }
      }

      .nav-menu ul li {
        font-size: 1rem;
      }
    }

    .nav-footer h3,
    ul {
      font-size: 0.75rem;

      li:hover {
        cursor: pointer;

        &:hover {
          color: var(--primary);
          transition: 0.4s;
        }
      }
    }
  }
}