<main class="d-flex w-100 main">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="w-100 fadeIn overflow-hidden">

        <div class="table-section container d-flex flex-column justify-content-center">
            <h2 class="fw-bold mt-5">Vagas</h2>
            <p>Gerencie as vagas, tenha informações de quando foi criada em sua plataforma.</p>

            <div class="d-flex flex-wrap justify-content-start align-items-center gap-3 filter-buttons my-4">
                <section class="container search rounded-4 pt-3 pb-4">
                    <div>
                        <form (ngSubmit)="filterVacancies()" class="row align-items-end justify-content-center px-3 search">
                            <label for="emailSearch" class="cursor-pointer fw-normal d-flex flex-column col-5">
                                Empresa
                                <input type="text" id="emailSearch" maxlength="45" placeholder="Ex: E-factor"
                                    class="px-3 border-0 mt-2" [(ngModel)]="nameSearch" name="empresa">
                            </label>
                
                            <label for="nameSearch" class="cursor-pointer fw-normal d-flex flex-column col-5">
                                Cargo
                                <input type="text" id="nameSearch" maxlength="20" placeholder="Ex: Sênior" 
                                class="px-3 border-0 mt-2" [(ngModel)]="positionSearch" name="name">
                            </label>
                
                            <div class="col-2">
                                <button type="submit"
                                    class="overflow-hidden rounded-3 border-0 fs-5 fw-medium">Pesquisar</button>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
            <div class="container py-5 px-3 error-page" *ngIf="!(vacanciesList.length > 0) && !solicitationError">
                <div class="h-100 d-flex flex-column p-5 align-items-center justify-content-center">
                    <img src="assets/imgs/sem-resultado.svg" alt="Não encontramos nada..."
                        title="Não encontramos nada." class="notFound mb-4 fadeIn">
                    <h2 class="fadeIn">
                        Não encontramos nada...
                    </h2>
        
                    <p class="text-center mt-3 fw-light fadeIn ">
                        Não foram encontrados resultados para sua pesquisa. Por favor, confira a ortografia, os filtros aplicados ou faça uma nova pesquisa.
                    </p>
                </div>
            </div>
            <div class="container py-5 px-3 error-page" *ngIf="solicitationError">
                <div class="h-100 d-flex flex-column p-5 align-items-center justify-content-center">
                    <img src="assets/imgs/erro-resultado.svg" alt="Não encontramos nada..."
                        title="Não encontramos nada." class="notFound mb-4 fadeIn">
                    <h2 class="fadeIn text-danger">
                        Desculpe, estamos com uma instabilidade
                    </h2>
        
                    <p class="text-center mt-3 fw-light fadeIn ">
                        Ocorreu um erro ao carregar. Recarregue a página ou tente novamente mais tarde.
                    </p>
                </div>
            </div>
            <p-table
                [value]="vacanciesList"
                [paginator]="true"
                [rows]="5"
                [showCurrentPageReport]="false"
                [tableStyle]="{ 'min-width': '50rem' }"
                [rowsPerPageOptions]="[5, 10, 20]"
                (sortFunction)="onSort($event)"
                [customSort]="true"
                *ngIf="vacanciesList.length > 0 && !solicitationError"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:20%; border-radius: 15px 0 0 0" pSortableColumn="date">Data de criação<p-sortIcon field="date"></p-sortIcon></th>
                        <th style="width:20%">Empresa</th>
                        <th style="width:20%">Cargo</th>
                        <th style="width:40%; border-radius: 0 15px 0 0">Título</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-vacanciesList let-i="rowIndex">
                    <tr>
                        <td class="px-0">
                            <span class="indicator py-3 me-4"></span>
                            {{ vacanciesList.createDate | date: "dd/MM/yyyy"}}
                        </td>
                        <td>{{ vacanciesList.businessInfo.name }}</td>
                        <td>{{ vacanciesList.serniority.substring(0, 1).toUpperCase() + vacanciesList.serniority.substring(1) }}</td>  
                        <td>{{ vacanciesList.description.substring(0, 50) + (vacanciesList.description.length > 50 ? '...' : '') }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <app-footer></app-footer>
    </div>
</main>
