:host{
    color: var(--text);

    .main{
        min-height: 50rem;

        .main-page{
            min-height: 100vh;
        }

        .profile-photo{
            width: 9.6875rem;
            height: 9.6875rem;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
        }
        h5{
            color: var(--primary);
        }
        p{
            text-align: justify;
        }
        .info-text{
            font-size: 0.875rem;
        }
        .name{
            color: var(--text);
        }
        section{
            background-color: var(--background);
            border-radius: 0.75rem;
        }
        .btn-view-all{
            background-color: var(--secondary);
            color: var(--text-white);
            border-radius: 0.75rem;
            &:hover{
                background-color: var(--primary);
            }
        }
        .edit{
            background-color: rgba(250, 166, 26, 0.2);
            color: var(--primary);
            border-radius: 0.5rem;
            border: none;
        }
        .coin-factor{
            width: 5rem;
            height: 5rem;
        }
        .coin-text, .user-text{
            font-size: small;
        }
        .user-img{
            width: 5rem;
            height: 5rem;
            filter: invert(68%) sepia(68%) saturate(933%) hue-rotate(345deg) brightness(99%) contrast(97%);
        }
        .text-green{
            color: #00B5A0;
        }
        .error-page{
            height: 100vh;
        }
        .logout{
            border-radius: 0.75rem;
            width: 15rem;
        }
        @media (max-width: 992px){
            .dados-juridicos{
                flex-direction: column;
                gap: 1rem;
                .info-div{
                    flex-direction: column;
                }
                div{
                    margin-left: 0 !important;
                }
            }
            .about-div{
                flex-direction: column !important;
                .about{
                    width: 100% !important;
                }
                .coin-div{
                    width: 100% !important;
                }
            }
            .vacancys-div{
                flex-direction: column !important;
                div{
                    width: 100% !important;
                }
            }
            .btn-view-all{
                width: 100% !important;
            }
        }
    }
}