<app-edit-profile-infos-modal
    *ngIf="isEditInfoModalOpen"
    [profile]="businessInfo"
    [showCellphone]="showCellphone"
    (closeModal)="closeEditModal()"
    (saveChanges)="saveProfileChanges($event)"
    (showCellphoneField)="showCellphone = $event"
></app-edit-profile-infos-modal>
<app-edit-profile-about-modal
    *ngIf="isEditAboutModalOpen"
    [profile]="businessInfo"
    (closeModal)="closeEditModal()"
    (saveChanges)="saveProfileChanges($event)"
></app-edit-profile-about-modal>
<main class="d-flex w-100 main">
    <app-sidebar class="sidebar"></app-sidebar>
    <div class="w-100 fadeIn overflow-hidden">
        <div class="container py-5 px-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="fw-bold">Dados Jurídicos</h5>
                <button class="edit py-1 px-2" *ngIf="isLogged" (click)="openEditModal(0)">Editar<img src="../../../assets/icons/edit.svg" alt="Editar" class="ms-2"></button>
            </div>
            <section>
                <div class="d-flex align-items-center p-4 dados-juridicos">
                    <img class="profile-photo ms-3" [src]="businessInfo?.photo || 'assets/imgs/default-profile.svg'" alt="Foto do perfil">
                    <div class="ms-5">
                        <h5 class="name fw-bold">{{businessInfo?.name}}</h5>
                        <p class="info-text fw-light">{{businessInfo?.city}}, {{businessInfo?.state}}</p>
                        <div class="d-flex gap-3 mt-3">
                            <div>
                                <p class="info-text mb-1 fw-light">E-mail</p>
                                <p>{{businessInfo?.email}}</p>
                            </div>
                            <div *ngIf="showCellphone">
                                <p class="info-text mb-1 fw-light">Telefone</p>
                                <p>{{businessInfo?.cellphone}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="d-flex gap-3">
                <div *ngIf="!isLogged ? (businessInfo?.about?.trim()?.length ?? 0) > 0 : true" [ngClass]="isLogged ? 'about w-75' : 'w-100'">
                    <div class="d-flex justify-content-between align-items-center mt-4">
                        <h5 class="fw-bold">Sobre a empresa</h5>
                        <button class="edit py-1 px-2 mb-2" *ngIf="isLogged" (click)="openEditModal(1)">Editar<img src="../../../assets/icons/edit.svg" alt="Editar" class="ms-2"></button>
                    </div>
                    <section>
                        <div class="p-4">
                            <p class="my-1">{{ businessInfo?.about?.trim() == '' ? 'Nenhuma informação inserida' : businessInfo?.about }}</p>
                        </div>
                    </section>
                </div>
                <div *ngIf="isLogged && true" class="w-25">
                    <div class="d-flex justify-content-between align-items-center mt-2">
                        <h5 class="fw-bold mt-4 mb-2">Coin Factor</h5>
                    </div>
                    <section class="d-flex flex-column align-items-center gap-3 p-4">
                        <h6 class="fw-light">Você possui</h6>
                        <img src="../../../assets/imgs/coin-factor.svg" alt="Coin Factor" class="coin-factor">
                        <p class="text-green d-flex align-items-center gap-2 mb-0"><span class="fw-bold fs-1">105</span> coin factor</p>
                        <p class="coin-text">Olá! Aqui está o seu saldo atual na nossa plataforma. Se precisar de mais, basta solicitar através do botão, e nossa equipe irá avaliar sua solicitação com carinho. Estamos à disposição para ajudar!</p>
                        <button class="btn btn-view-all">Solicitar mais</button>
                    </section>
                </div>
            </div>
            <div class="d-flex gap-3">
                <div *ngIf="!isLogged ? true : true" [ngClass]="isLogged ? 'about w-75' : 'w-100'">
                    <h5 class="fw-bold mt-4">Vagas recentes</h5>
                    <div class="d-flex flex-column align-items-center gap-3">
                        <span *ngFor="let card of cardVacancy; let i = index" class="mx-1">
                            <card-vacancy [short]="false" [card]="card" class="mt-4" *ngIf="i < 3"></card-vacancy>
                        </span>
                        <button class=" w-25 btn btn-view-all fw-bold mt-3" [routerLink]="['{{businessInfo?.id}}-all-vacancies']">Ver tudo</button>
                    </div>
                </div>
                <div *ngIf="isLogged && true" class="w-25">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="fw-bold mt-4 mb-2">Usuários</h5>
                    </div>
                    <div class="d-flex flex-column gap-3">
                        <section class="d-flex flex-column align-items-center gap-3 p-4">
                            <img src="../../../assets/icons/sidebar/profissionais.svg" alt="Coin Factor" class="user-img">
                            <p class="user-text">Você tem a opção de cadastrar moderadores que estarão lá para auxiliá-lo na publicação de vagas, análise de candidatos e muito mais. Porém, é importante lembrar que cada moderador custará <span class="text-green">10 Coin Factor.</span> Os moderadores utilizarão os Coin Factor disponíveis em sua conta, e estamos aqui para responder a quaisquer dúvidas. Sinta-se à vontade para entrar em contato conosco pelo e-mail efactor@ajuda.com, estamos aqui para ajudar!</p>
                            <button class="btn btn-view-all">Criar moderador</button>
                        </section>
                        <section class="d-flex flex-column align-items-center gap-3 p-4">
                            <p>Acesse o painel para gerenciar seus moderadores.</p>
                            <button class="btn btn-view-all">Moderadores</button>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <app-footer class="footer"></app-footer>
    </div>
</main>