<main class="d-flex w-100 main">
    <app-sidebar class="sidebar"></app-sidebar>
    <div class="w-100 fadeIn overflow-hidden">
        <div class="container py-5 px-3">
            <h5 class="fw-bold">Dados Jurídicos</h5>
            <section>
                <div class="d-flex align-items-center p-4 dados-juridicos">
                    <img class="profile-photo ms-3" [src]="businessInfo[0].photo || 'assets/imgs/default-profile.svg'" alt="Foto do perfil">
                    <div class="ms-5">
                        <h5 class="name fw-bold">{{businessInfo[0].name}}</h5>
                        <p class="info-text fw-light">{{businessInfo[0].city}}, {{businessInfo[0].state}}</p>
                        <div class="d-flex gap-3 mt-3">
                            <div>
                                <p class="info-text mb-1 fw-light">E-mail</p>
                                <p>{{businessInfo[0].email}}</p>
                            </div>
                            <div>
                                <p class="info-text mb-1 fw-light">Telefone</p>
                                <p>{{businessInfo[0].telephone}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <h5 class="fw-bold mt-4">Sobre a empresa</h5>
            <section>
                <div class="p-3">
                    <p>{{businessInfo[0].about}}</p>
                </div>
            </section>
            <h5 class="fw-bold mt-4">Vagas recentes</h5>
            <div class="d-flex flex-column align-items-center gap-3">
                <span *ngFor="let card of cardVacancy" class="mx-1">
                    <card-vacancy [short]="false" [card]="card" class="mt-4"></card-vacancy>
                </span>
                <button class=" w-25 btn btn-view-all fw-bold mt-3" [routerLink]="['{{businessInfo[0].id}}-all-vacancies']">Ver tudo</button>
            </div>
        </div>
        <app-footer class="footer"></app-footer>
    </div>
</main>