main{
    .table-section{
        min-height: 80vh;
    }
    h2{
        color: var(--primary);
    }
    p{
        color: var(--text);
    }
    p-sortIcon{
        filter: brightness(0) saturate(100%) invert(36%) sepia(20%) saturate(485%) hue-rotate(195deg) brightness(96%) contrast(90%) opacity(50%);
    }
    th{
        color: var(--text) !important;
    }

    .indicator{
        border-radius: 1rem 0 0 1rem;
    }

    .indicator::before {
        content: "";
        display: inline-block;
        width: -1px;
        margin-right: 5px;
    }

    .edit{
        background-color: rgba(250, 166, 26, 0.2);
        color: var(--primary);
        border-radius: 0.5rem;
        border: none;
        width: 5.6rem;
        height: 2rem;
    }

    .delete{
        background-color: #F7A19B;
        color: var(--text-white);
        border-radius: 0.5rem;
        border: none;
        width: 5.7rem;
        height: 2rem;
        img{
            filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(352deg) brightness(117%) contrast(101%);
        }
    }
    
    .search {
        background-color: var(--background);

        color: var(--text-color);
        h2 {
            color: var(--primary);
        }

        .cursor-pointer {
            cursor: pointer;
        }

        input:focus{
            outline: none;
        }

        input[type="text"]{
            height: 2.5rem;
            background-color: var(--input);
            border-radius: 0.6rem;

            color: var(--text-color);
        }

        button{
            width: 100%;
            height: 2.5rem;
            color: var(--text-white);
            background-color: var(--secondary);

            &:hover{
                background-color: var(--primary); 
                transition: 0.5s;
            }
        }

    }
}
